force-app/main/default/flows/Automatic_CreateKeyLogisticsSubCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>PrepareCaseRecord</name>
        <label>Preparar Registro do Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubCaseToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GerRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubCaseToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubCaseToCreate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCaseid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubCaseToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubCaseToCreate.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesforceManual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateKeysSubCase</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ForCaseSubject</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!CaseSubject})), LEFT({!CaseSubject},80), {!CaseType} + &quot; para caso número &quot; + {!NumeroCasoPai})</expression>
    </formulas>
    <formulas>
        <name>ForCaseType</name>
        <dataType>String</dataType>
        <expression>IF( {!CaseType} == &apos;Chaveiro&apos;, &apos;Key Logistics For Rent Locksmith&apos;, &apos;Key Logistics For Rent Ride&apos;)</expression>
    </formulas>
    <interviewLabel>[Automatic] - Create Key Logistics SubCases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Automatic] - Create Key Logistics SubCases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateKeysSubCase</name>
        <label>Criar Sub-Caso de Chaves</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>SubCaseToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GerRecordType</name>
        <label>Obter Tipo de Registro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrepareCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubCaseRecordTypeDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentCase</name>
        <label>Obter Caso Pai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GerRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Priority</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroCasoPai</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recebe o Id do Caso que será atribuído como pai</description>
        <name>ParentCaseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubCaseRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubCaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
