force-app/main/default/flows/Case_MaestroCaseKeyLogisticsForRentOffboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign true to has pp task</description>
        <name>AssignTrueToHasPPTask</name>
        <label>Assign true to has pp task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasFinishedPPTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnFoundTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign true to has vt task</description>
        <name>AssignTrueToHasVTTask</name>
        <label>Assign true to has vt task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasFinishedVTTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnFoundTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckNeedRun</name>
        <label>Check Need Run</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CloseCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need Run No</defaultConnectorLabel>
        <rules>
            <name>NeedRunYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NeedRun__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NeedRun__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckPPAndVTAnswers</targetReference>
            </connector>
            <label>Need Run Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPPAndVTAnswers</name>
        <label>Check PP &amp; VT Answers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>VerifyLeadershipApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>PP_VT_SucessContact</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactReplyPP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactReplyVT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactReplyPP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactReplyVT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactTasks</targetReference>
            </connector>
            <label>PP &amp; VT Sucess</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify if key is in lockbox and with inspector</description>
        <name>KeyInLockboxAndWithInspector</name>
        <label>Key in lockbox and with inspector</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>KeyIsInLockboxKey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOCK_BOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskContactPPNeedKey</targetReference>
            </connector>
            <label>Key is in lockboxkey</label>
        </rules>
        <rules>
            <name>KeyWithInspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSPECTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskContactPPConfirmAddressTimeEesponsible</targetReference>
            </connector>
            <label>Key with inspector</label>
        </rules>
        <rules>
            <name>KeyWithExternalResponsible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXTERNAL_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskContactVTConfirmKeyHolder</targetReference>
            </connector>
            <label>Key with external responsible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case operation</description>
        <name>VerifyCaseOperation</name>
        <label>Verify case operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckNeedRun</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case update</defaultConnectorLabel>
        <rules>
            <name>CaseInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetKeyLogisticsForRentOffboardingRecordType</targetReference>
            </connector>
            <label>Case insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case record type and type</description>
        <name>VerifyCaseRecordTypeAndType</name>
        <label>Verify case record type and type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>RecordTypeIsKeyLogisticsForRentAndOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyCaseOperation</targetReference>
            </connector>
            <label>Record type is key logistics for rent and onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify if has closed contact tasks</description>
        <name>VerifyIfHasClosedContactTasks</name>
        <label>Verify if has closed contact tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>VerifyLeadershipApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>HasClosedContactTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasFinishedPPTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasFinishedVTTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KeyLogisticsForRentOffboardingRecordType2</targetReference>
            </connector>
            <label>Has closed contact tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyLeadershipApproval</name>
        <label>Verificar Aprovação da Liderança</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>LeadershipApprovedException</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadershipApprovedException__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadershipApprovedException__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SubCase_Ride</targetReference>
            </connector>
            <label>Liderança Aprovou Exceção</label>
        </rules>
        <rules>
            <name>LeadershipDidntApprovedException</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadershipApprovedException__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadershipApprovedException__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KeyLogisticsForRentRecordType</targetReference>
            </connector>
            <label>Liderança Não Aprovou Exceção</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify task type</description>
        <name>VerifyTaskType</name>
        <label>Verify task type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopOnFoundTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>ContactVTYask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnFoundTasks.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrueToHasVTTask</targetReference>
            </connector>
            <label>Contact vt task</label>
        </rules>
        <rules>
            <name>ContactPPTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnFoundTasks.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_OF_CONTACT_PP_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrueToHasPPTask</targetReference>
            </connector>
            <label>Contact pp task</label>
        </rules>
    </decisions>
    <description>Flow to control case creation and update, set related entities, and create tasks</description>
    <environments>Default</environments>
    <formulas>
        <name>FORCriticality</name>
        <dataType>String</dataType>
        <expression>IF(
    DATEVALUE($Record.Inspection__r.ExecutedAt__c) &gt; (TODAY() - 3), &quot;Critical&quot;,
    CASE(
        DATEVALUE($Record.Inspection__r.ExecutedAt__c) - TODAY(),
        3, &quot;Critical&quot;,
        2, &quot;High&quot;,
        1, &quot;Medium&quot;,
        0, &quot;Low&quot;,
        &quot;Low&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>[Case] Maestro Case Key Logistics For Rent Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Maestro Case Key Logistics For Rent Offboarding After</label>
    <loops>
        <description>Loop on found tasks</description>
        <name>LoopOnFoundTasks</name>
        <label>Loop on found tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetContactTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerifyTaskType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerifyIfHasClosedContactTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>Abrir Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyLeadershipApproval</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Consultar Distância no Google Maps</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_CHECK_DISTANCE_ON_GOOGLEMAPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create task &quot;Contato com PP para confirmar endereço, horário e responsável&quot;</description>
        <name>CreateTaskContactPPConfirmAddressTimeEesponsible</name>
        <label>Create task contact PP to confirm address, time and responsible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateTaskContactVTConfirmAddressTimeEesponsible</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId__c</field>
            <value>
                <elementReference>$Record.ContractId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contato com PP para confirmar endereço, horário e responsável</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create task &quot;Contato com PP perguntando se ele precisa da chave?&quot;</description>
        <name>CreateTaskContactPPNeedKey</name>
        <label>Create task contact PP need key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId__c</field>
            <value>
                <elementReference>$Record.ContractId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[PP] - Contato com PP para orientar que quebre a lockbox</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_INSTRUCT_BREAK_LOCKBOX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create task &quot;Contato com VT para confirmar endereço, horário e responsável&quot;</description>
        <name>CreateTaskContactVTConfirmAddressTimeEesponsible</name>
        <label>Create task contact VT to confirm address, time and responsible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId__c</field>
            <value>
                <elementReference>$Record.ContractId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contato com VT para confirmar endereço, horário e responsável</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create task &quot;Contato com VT para confirmar pessoa que está com a chave&quot;</description>
        <name>CreateTaskContactVTConfirmKeyHolder</name>
        <label>Create task contact VT to confirm key holder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId__c</field>
            <value>
                <elementReference>$Record.ContractId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[VT] - Contato com VT para confirmar pessoa que está com a chave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_KEY_HOLDER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get key logistics for rent offboarding record type</description>
        <name>Get_KeyLogisticsForRentOffboardingRecordType2</name>
        <label>Get key logistics for rent offboarding record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeDeveloperName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get key logistics for rent offboarding record type</description>
        <name>Get_KeyLogisticsForRentRecordType</name>
        <label>Get key logistics for rent offboarding record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateTaskContactPPConfirmAddressTimeEesponsible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeDeveloperName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get finished contact tasks</description>
        <name>GetContactTasks</name>
        <label>Get contact tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnFoundTasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get key logistics for rent offboarding record type</description>
        <name>GetKeyLogisticsForRentOffboardingRecordType</name>
        <label>Get key logistics for rent offboarding record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KeyInLockboxAndWithInspector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeDeveloperName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CloseCase</name>
        <label>CloseCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Close_Tasks_Related</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Close_Tasks_Related</name>
        <label>Update Close Tasks Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyCaseRecordTypeAndType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_SubCase_Ride</name>
        <label>Create SubCase Ride</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Ride</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Has finished pp task</description>
        <name>HasFinishedPPTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Has finished vt task</description>
        <name>HasFinishedVTTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TaskRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
