force-app/main/default/flows/Case_MaestroCaseKeyLogisticsForRentSubCasesAfter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigment_FilesOnChildCase</name>
        <label>Atribuir Arquivos no Caso Filho</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_ContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkSingle.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpenTaskBandaid</name>
        <label>Abrir Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Abrir solicitação de band-aid para time Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_BAND_AID_OPEN_BAND_AID_PENDENCY_TO_PAYMENTS_TEAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Band-Aid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpenTaskLocksmith</name>
        <label>Abrir Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solicitar serviço de chaveiro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_REQUEST_LOCKSMITH_SERVICE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Locksmith</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpenTaskRide</name>
        <label>Abrir Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solicitar corrida para a transportadora</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_REQUEST_RIDE_TRANSPORT_COMPANY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToCreate.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Ride</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Queue_Decision</name>
        <label>Check User/Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>WhichCaseType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseTeamMember</targetReference>
            </connector>
            <label>Check User/Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionTaskNotesChanged</name>
        <label>Task Notes Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>VerifyCaseStageAndStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>YesChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskNotes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TaskNotes__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParentCase</targetReference>
            </connector>
            <label>Sim, alterada</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentCaseAssigned</name>
        <label>Parent Case Assigned?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_User_Queue_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, ParentCase not Assigned</defaultConnectorLabel>
        <rules>
            <name>Yes_ParentCaseAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarCasoPai</targetReference>
            </connector>
            <label>Yes, Parent Case Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case operation</description>
        <name>VerifyCaseOperation</name>
        <label>Verify case operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionTaskNotesChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case update</defaultConnectorLabel>
        <rules>
            <name>CaseInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseTeamRole</targetReference>
            </connector>
            <label>Case insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case record type and type</description>
        <name>VerifyCaseRecordTypeAndType</name>
        <label>Verify case record type and type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>RecordTypeIsKeyLogisticsForRentAndSubCases</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Locksmith</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Ride</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Band-Aid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyCaseOperation</targetReference>
            </connector>
            <label>Record type is key logistics for rent SubCases</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case stage and status</description>
        <name>VerifyCaseStageAndStatus</name>
        <label>Verify case stage and status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ResolvedAndClosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESOLVED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClosedWon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RESOLVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinishParentCaseAndCancelTasks</targetReference>
            </connector>
            <label>Resolved and closed won</label>
        </rules>
        <rules>
            <name>ResolvedAndClosedLost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESOLVED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClosedLost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RESOLVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentCase</targetReference>
            </connector>
            <label>Resolved and closet lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyCaseType</name>
        <label>Verify case type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ReopenParentCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>CaseTypeKeyLogisticsOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvokeTaskCreationBasedOnCaseTypeForOnboarding</targetReference>
            </connector>
            <label>Case type key logistics onboarding</label>
        </rules>
        <rules>
            <name>CaseTypeKeyLogisticsOffboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvokeTaskCreationBasedOnCaseTypeForOffboarding</targetReference>
            </connector>
            <label>Case type key logistics offboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify if key is in lockbox and with inspector</description>
        <name>WhichCaseType</name>
        <label>Which Case Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>RideOrDevivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Ride</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenTaskRide</targetReference>
            </connector>
            <label>Corrida</label>
        </rules>
        <rules>
            <name>Locksmith</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Locksmith</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenTaskLocksmith</targetReference>
            </connector>
            <label>Chaveiro</label>
        </rules>
        <rules>
            <name>BandAid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Band-Aid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenTaskBandaid</targetReference>
            </connector>
            <label>Band-Aid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORCriticality</name>
        <dataType>String</dataType>
        <expression>IF(
    DATEVALUE($Record.Parent.Inspection__r.ExecutedAt__c) &gt; (TODAY() + 3), &quot;Crítico&quot;,
    CASE(
        DATEVALUE($Record.Parent.Inspection__r.ExecutedAt__c) - TODAY(),
        3, &quot;Crítico&quot;,
        2, &quot;Alto&quot;,
        1, &quot;Médio&quot;,
        0, &quot;Baixo&quot;,
        &quot;Baixo&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>[Case] Maestro Case Key Logistics For Rent SubCases After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Maestro Case Key Logistics For Rent SubCases After</label>
    <loops>
        <name>Iterate_ContentDocumentLinks</name>
        <label>Iterar ContentDocumentLinks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_ArquivosCasoPai</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigment_FilesOnChildCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLinks</name>
        <label>Criar ContentDocumentLinks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Queue_Decision</targetReference>
        </connector>
        <inputReference>ContentDocumentLinksToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseTeamMember</name>
        <label>Create Case Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhichCaseType</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>GetCaseTeamRole.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTask</name>
        <label>Criar Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TaskRecordToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCaseTeamRole</name>
        <label>Get Case Team Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTaskKeyLogisticsForRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Analyst</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get parent case</description>
        <name>GetParentCase</name>
        <label>Get parent case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyCaseType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get key logistics for rent offboarding record type</description>
        <name>GetTaskKeyLogisticsForRecordType</name>
        <label>Get Task key logistics for rent RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsParentCaseAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obter_ArquivosCasoPai</name>
        <label>Obter Arquivos do Caso Pai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShareType</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarCasoPai</name>
        <label>Atualizar Caso Pai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_ArquivosCasoPai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>RideLocksmith</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>STOPPED</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>Update Parent Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyCaseStageAndStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskNotes__c</field>
            <value>
                <elementReference>$Record.TaskNotes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyCaseRecordTypeAndType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Finish parent case and cancel tasks</description>
        <name>FinishParentCaseAndCancelTasks</name>
        <label>Finish parent case and cancel tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStage</name>
            <value>
                <stringValue>ClosedWon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>InvokeTaskCreationBasedOnCaseTypeForOffboarding</name>
        <label>Invoke task creation based on case type for offboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReopenParentCase</targetReference>
        </connector>
        <flowName>Task_TaskCreationKeyLogisticsForRentOffboarding</flowName>
        <inputAssignments>
            <name>CurrentCase</name>
            <value>
                <elementReference>GetParentCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>InvokeTaskCreationBasedOnCaseTypeForOnboarding</name>
        <label>Invoke task creation based on case type onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReopenParentCase</targetReference>
        </connector>
        <flowName>Task_TaskCreationKeyLogisticsForRentOnboarding</flowName>
        <inputAssignments>
            <name>CurrentCase</name>
            <value>
                <elementReference>GetParentCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Reopen parent case</description>
        <name>ReopenParentCase</name>
        <label>Reopen parent case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStage</name>
            <value>
                <stringValue>CustomerContact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>IN_PROGRESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStopped</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContentDocumentLinkSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>TaskRecordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
