force-app/main/default/flows/Case_MaestroCaseKeyLogisticsForRentOffboardingBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignFieldsToCase</name>
        <label>Assign fields to case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedContract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EntryAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEntryAccess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KeyLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KeyLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetKeysQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RelatedContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign key location external responsible</description>
        <name>AssignKeyLocationExternalResponsible</name>
        <label>Assign key location external responsible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KeyLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EXTERNAL_RESPONSIBLE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFieldsToCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign key location inspector</description>
        <name>AssignKeyLocationInspector</name>
        <label>Assign key location inspector</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KeyLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INSPECTOR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFieldsToCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign key location lock box passwprd</description>
        <name>KeyLocationLockBoxPasswprd</name>
        <label>Assign key location lock box passwprd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KeyLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOCK_BOX</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFieldsToCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verify if key is in lockbox and with inspector</description>
        <name>KeyInLockboxAndWithInspector</name>
        <label>Key in lockbox and with inspector</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>KeyIsInLockboxAndWithInspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntryAccess.AccessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOCK_BOX_KEY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEntryAccess.KeyHolderRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSPECTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KeyLocationLockBoxPasswprd</targetReference>
            </connector>
            <label>Key is in lockbox and with inspector</label>
        </rules>
        <rules>
            <name>KeyWithInspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntryAccess.KeyHolderRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSPECTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignKeyLocationInspector</targetReference>
            </connector>
            <label>Key with inspector</label>
        </rules>
        <rules>
            <name>KeyIsIsWithExternalResponsible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntryAccess.KeyHolderRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXTERNAL_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignKeyLocationExternalResponsible</targetReference>
            </connector>
            <label>Key is with external responsible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case operation</description>
        <name>VerifyCaseOperation</name>
        <label>Verify case operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Case update</defaultConnectorLabel>
        <rules>
            <name>CaseInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement</targetReference>
            </connector>
            <label>Case insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case record type and type</description>
        <name>VerifyCaseRecordTypeAndType</name>
        <label>Verify case record type and type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>RecordTypeIsKeyLogisticsForRentAndOffboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyCaseOperation</targetReference>
            </connector>
            <label>Record type is key logistics for rent and offboarding</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>&quot;Número do Contrato&quot; - Logística de chaves &quot;Type&quot;</description>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Logística de chaves Offboarding&apos;</expression>
    </formulas>
    <interviewLabel>[Case] Maestro Case Key Logistics For Rent Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Maestro Case Key Logistics For Rent Offboarding Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEntryAccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inspection__r.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PropertyId__c</queriedFields>
        <queriedFields>ExternalId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetKeysQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direito Key Delivery For Rent - Offboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related entry access</description>
        <name>GetEntryAccess</name>
        <label>Get Entry Access</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KeyInLockboxAndWithInspector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropertyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.PropertyId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntryAccess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetKeysQueue</name>
        <label>Obter Fila de Chaves</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsOffboardingRouting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyCaseRecordTypeAndType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Keu location</description>
        <name>KeyLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
