force-app/main/default/flows/CaseFinalizationAndCancelTasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CancelTasks</name>
        <label>Cancelar Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ForeachTasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForeachTasks.CloseSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeCaseStatus</name>
        <label>Alterar Status do Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaseIsFilled</name>
        <label>Caso Preenchido?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Caso não preenchido</defaultConnectorLabel>
        <rules>
            <name>CaseFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedTasks</targetReference>
            </connector>
            <label>Caso preenchido</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Case &amp; Task] Finalizar Caso e Cancelar Tarefas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case &amp; Task] Finalizar Caso e Cancelar Tarefas</label>
    <loops>
        <name>ForeachTasks</name>
        <label>Percorrer Tarefas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetRelatedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CancelTasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedTasks</name>
        <label>Obter Tarefas Relacionadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeCaseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateTasks</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTasks</name>
        <label>Atualizar Tarefas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetRelatedTasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseIsFilled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case.Stage</description>
        <name>CaseStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStopped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
