force-app/main/default/flows/Case_ScreenFlow_ApprovalProcess_ForRent_Offboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>EmailAprovadores</name>
        <label>Email para Aprovadores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Busca_Notifica_o</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <elementReference>varUsuarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X88000004AHA9EAO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>EnviaAprovacao</name>
        <label>Envia para Aprovação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>FinaNotificada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>BuscaCaso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SupervisionSeniorApproval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>EnviaNotificacao</name>
        <label>Envia Notificação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Busca_Notifica_o.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsuariosId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Caso para aprovação</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>O caso {!BuscaCaso.CaseNumber} está para aprovação, por gentileza validar.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AtribuiEmailID</name>
        <label>Atribui Email e ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUsuarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuscarUsuario.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuariosId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuscarUsuario.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListarMembros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Grupo_AS</name>
        <label>Atribuir Grupo AS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscaAnalistaSenior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarMembrosGrupos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Grupo_Supervis_o</name>
        <label>Atribuir Grupo Supervisão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscaSupervisao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarMembrosGrupos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiResposta</name>
        <label>Atribui Resposta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varProcesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deseja_seguir_com_o_processo_de_aprova_o</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Seguir_Processo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>FinaNotificada</name>
        <label>Qual fila será notificada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>BuscarMembrosGrupos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supervisao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAprovacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaSupervisao</targetReference>
            </connector>
            <label>Supervisão</label>
        </rules>
        <rules>
            <name>AnalistaSenior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAprovacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeniorAnalyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaAnalistaSenior</targetReference>
            </connector>
            <label>Analista Sênior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Seguir_Processo</name>
        <label>Seguirá Processo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Finaliza</defaultConnectorLabel>
        <rules>
            <name>SeguirProcesso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcesso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprovacao</targetReference>
            </connector>
            <label>Seguir o Processo</label>
        </rules>
        <rules>
            <name>NaoSeguir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProcesso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nao</elementReference>
                </rightValue>
            </conditions>
            <label>Não seguir</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Aprovador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeApproval__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case_ScreenFlow_ApprovalProcess_ForRent_Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | ScreenFlow - ApprovalProcess -ForRent Offboarding</label>
    <loops>
        <name>ListarMembros</name>
        <label>Listar Membros</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>BuscarMembrosGrupos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuscarUsuario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmailAprovadores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Busca_Notifica_o</name>
        <label>Busca Notificação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnviaNotificacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommunicationNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscaAnalistaSenior</name>
        <label>Busca Analista Sênior</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_Grupo_AS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Analista Sênior</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscaCaso</name>
        <label>Busca Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmaProcesso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TypeApproval__c</queriedFields>
        <queriedFields>CommentsApproval__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarMembrosGrupos</name>
        <label>Buscar Membros dos Grupos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListarMembros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarUsuario</name>
        <label>Buscar Usuário</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiEmailID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListarMembros.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscaSupervisao</name>
        <label>Busca Supervisão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_Grupo_Supervis_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supervisão</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaCaso</name>
        <label>Atualiza Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnviaAprovacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscaCaso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CommentsApproval__c</field>
            <value>
                <elementReference>MotivoAprovacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeApproval__c</field>
            <value>
                <elementReference>TipoAprovacao</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Aprovacao</name>
        <label>Aprovacao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>AtualizaCaso</targetReference>
        </connector>
        <fields>
            <name>TipoAprovacao</name>
            <choiceReferences>Aprovador</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha o tipo de aprovação que deseja?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MotivoAprovacao</name>
            <dataType>String</dataType>
            <fieldText>Qual é o motivo da aprovação?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmaProcesso</name>
        <label>Confirma Processo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AtribuiResposta</targetReference>
        </connector>
        <fields>
            <name>Deseja_seguir_com_o_processo_de_aprova_o</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja seguir com o processo de aprovação?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuscaCaso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProcesso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsuarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsuariosId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
