force-app/main/default/flows/Case_MaestroCaseKeyLogisticsForRentSubCasesBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignCaseFields</name>
        <label>Assign case fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EntryAccess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEntryAccess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetKeysQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RelatedContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.RelatedContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionResponsibleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionResponsibleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionResponsibleRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionResponsibleRole__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionResponsiblePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionResponsiblePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionReferencePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionReferencePoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryResponsibleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryResponsibleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryResponsibleRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryResponsibleRole__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryReferencePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryReferencePoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryResponsiblePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryResponsiblePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RideDistance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.RideDistance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CriticalitySla__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CriticalitySla__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCollectionAddressCaseFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollectionAddressCaseFields</name>
        <label>Assign collection address case fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__GeocodeAccuracy__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetParentCase.CollectionAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAvailableDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAvailableDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAvailablePeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAvailablePeriod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAvailableTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAvailableTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAddressComplement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAddressComplement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CollectionAvailableTimeMax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.CollectionAvailableTimeMax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDeliveryAddressCaseFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeliveryAddressCaseFields</name>
        <label>Assign delivery address case fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__GeocodeAccuracy__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAvailableDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAvailableDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAvailablePeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAvailablePeriod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryAddressComplement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.DeliveryAddressComplement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Local_das_Chaves_Preenchido_no_Pai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Local_Das_Chaves</name>
        <label>Atribuir Local Das Chaves</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.KeyLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentCase.KeyLocation__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Local_das_Chaves_Preenchido_no_Pai</name>
        <label>Local das Chaves Preenchido no Pai?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentCase.KeyLocation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Local_Das_Chaves</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case operation</description>
        <name>Verify_case_operation2</name>
        <label>Verify case operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Case update</defaultConnectorLabel>
        <rules>
            <name>Case_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetKeysQueue</targetReference>
            </connector>
            <label>Case insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify case record type and type</description>
        <name>VerifyCaseRecordTypeAndType</name>
        <label>Verify case record type and type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>RecordTypeIsKeyLogisticsForRentAndOnboarding</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Ride</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Band-Aid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Locksmith</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_case_operation2</targetReference>
            </connector>
            <label>Record type is key logistics for rent and onboarding</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>&quot;Número do Contrato&quot; - Logística de chaves &quot;Type&quot;</description>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Type},
&apos;Key Logistics For Rent Locksmith&apos;, &apos;Logística de chaves Solicitação de Chaveiro&apos;,
&apos;Key Logistics For Rent Ride&apos;, &apos;Logística de chaves Corrida&apos;,
&apos;Key Logistics For Rent Band-Aid&apos;, &apos;Logística de chaves Band-Aid&apos;,
TEXT({!$Record.Type}))</expression>
    </formulas>
    <formulas>
        <name>FORCriticality</name>
        <dataType>String</dataType>
        <expression>TEXT({!GetParentCase.Priority}) &amp; &apos;Internal&apos;</expression>
    </formulas>
    <interviewLabel>[Case] Maestro Case Key Logistics For Rent Sub-Cases Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Maestro Case Key Logistics For Rent Sub-Cases Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related entry access</description>
        <name>GetEntryAccess</name>
        <label>Get entry access</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetParentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropertyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.RelatedContract__r.PropertyId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntryAccess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetKeysQueue</name>
        <label>Obter Fila de Chaves</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEntryAccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsInternalTeamRouting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get parent case</description>
        <name>GetParentCase</name>
        <label>Get parent case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyCaseRecordTypeAndType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Keu location</description>
        <name>KeyLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
