force-app/main/default/flows/CaseMediation_Mediation_TriggerFlow_ForRent_Offboarding_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignCaseStatusToPayment</name>
        <label>Assign Case Status to Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExpectedCurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renegotiation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseStatusToRenegotiation</name>
        <label>Assign Case Status to Renegotiation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExpectedCurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Context &amp; First Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renegotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsRenegotiationNeeded</name>
        <label>Is renegotiation needed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsRenegotiationSectionCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MoveCaseToRenegotiation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsRenegotiationWithClientNeeded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsRenegotiationWithClientNeeded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsRenegotiationWithClientNeeded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCaseStatusToRenegotiation</targetReference>
            </connector>
            <label>Move case to renegotiation</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRenegotiationSectionCompleted</name>
        <label>Renegotiation section completed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MoveToPaymentAfterRenegotiation</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (9 OR (7 AND 8)) AND (12 OR (10 AND 11))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TenantProvidedEvidence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InitialStrategySummary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ValueChanged__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalSummary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRenegotiationAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalAmountAcceptedByTenant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TenantProvidedEvidence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EvidenceAccepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TenantProvidedEvidence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ValueChanged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChangeReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ValueChanged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCaseStatusToPayment</targetReference>
            </connector>
            <label>Renegotiation completed</label>
        </rules>
    </decisions>
    <description>Moves Case status to Payment when CaseMediation renegotiation section is completed - ForRent Offboarding</description>
    <environments>Default</environments>
    <interviewLabel>CaseMediation_TriggerFlow_Mediation_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseMediation | Mediation | TriggerFlow - ForRent - Offboarding After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCaseStatus</name>
        <label>Update Case Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MediationCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpectedCurrentStatus</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>TargetCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsRenegotiationNeeded</targetReference>
        </connector>
        <object>CaseMediation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExpectedCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
