force-app/main/default/flows/CaseCloseCasesStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CaseType</name>
        <label>Case Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateTasksRelatedOtherType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chaveiro/Corrida/Band-aid</defaultConnectorLabel>
        <rules>
            <name>OnboardingOffboarding</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseMilestones</targetReference>
            </connector>
            <label>Onboarding/Offboarding</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>[Case] - Close Cases by Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] - Close Cases by Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CloseCaseRelated</name>
        <label>Close Cases Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloseTasksRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>CANCELED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CloseMilestones</name>
        <label>Close Milestones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloseCaseRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>FORNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CaseMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CloseTasksRelated</name>
        <label>Close Tasks Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTasksRelatedOtherType</name>
        <label>Update Tasks Related - Other Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseType</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.RecordType.DeveloperName} = &apos;KeyLogisticsForRent&apos;,
ISCHANGED({!$Record.Status}),
ISPICKVAL({!$Record.Status},&apos;CANCELED&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
