force-app/main/default/flows/CCV_ForSale_Close_Cases_and_Tasks_related_to_CCV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Case_Collection</name>
        <label>Set Case Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collection_Cases_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loog_List_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loog_List_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status_for_Case</name>
        <label>Set New Status for Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loog_List_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status_for_Task</name>
        <label>Set New Status for Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_List_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status_for_Task_Contract</name>
        <label>Set New Status for Task Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_List_Task_Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Contract_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status_for_Task_Opp</name>
        <label>Set New Status for Task/Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_List_Task_Opp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tas_Opp_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Value_for_Opportunity</name>
        <label>Set New Value for Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_related_CCV.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fechado e ganho</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Vlaue_for_Contract</name>
        <label>Set New Vlaue for Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract_related_Opportunity.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tas_Opp_Collection</name>
        <label>Set Tas/Opp Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collection_Tasks_Opportunity_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_List_Task_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_List_Task_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection</name>
        <label>Set Task Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collection_Tasks_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_List_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_List_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Contract_Collection</name>
        <label>Set Task Contract Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collection_Tasks_Contracts_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_List_Task_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_List_Task_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Case_in_CCV_is_Null</name>
        <label>Decision Case in CCV is Null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Task_in_CCV_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_related_CCV</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loog_List_Case</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Contract_in_Opportunity_is_Null</name>
        <label>Decision Contract in Opportunity is Null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Opportuniti_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_related_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Vlaue_for_Contract</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opportuniti_is_Null</name>
        <label>Decision Opportuniti is Null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_CCV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_related_CCV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Value_for_Opportunity</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Task_in_CCV_is_Null</name>
        <label>Decision Task in CCV is Null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Task_in_Opportunity_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Related_CCV</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_List_Task</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Task_in_Contract_is_Null</name>
        <label>Decision Task in Contract is Null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Case_in_CCV_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Task_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_related_Contract</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_List_Task_Contract</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Task_in_Opportunity_is_Null</name>
        <label>Decision Task in Opportunity is Null ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Task_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_related_Opportunity</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_List_Task_Opp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[CCV/ForSale] - Close Cases and Tasks related to CCV</label>
    <loops>
        <name>Loog_List_Case</name>
        <label>Loog List Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Case_related_CCV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Status_for_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_List_Task</name>
        <label>Loop List Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Task_Related_CCV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Status_for_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_List_Task_Contract</name>
        <label>Loop List Task Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Task_related_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Status_for_Task_Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_List_Task_Opp</name>
        <label>Loop List Task Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Task_related_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Status_for_Task_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_related_CCV</name>
        <label>Get Case related CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Related_CCV</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>PurchaseSaleContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CANCELED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_related_Opportunity</name>
        <label>Get Contract related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_related_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_related_CCV.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_related_CCV</name>
        <label>Get Opportunity related CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Related_CCV</name>
        <label>Get Task Related CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_related_CCV</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_related_Contract</name>
        <label>Get Task related Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Task_in_Contract_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_related_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_related_Opportunity</name>
        <label>Get Task related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_related_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_related_CCV.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Task_in_CCV_is_Null</targetReference>
        </connector>
        <inputReference>collection_Cases_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CCV</name>
        <label>Update CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CCVStatus__c</field>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Opportuniti_is_Null</targetReference>
        </connector>
        <inputReference>Get_Contract_related_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_CCV</targetReference>
        </connector>
        <inputReference>Get_Opportunity_related_CCV</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Task_in_Opportunity_is_Null</targetReference>
        </connector>
        <inputReference>collection_Tasks_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Contract</name>
        <label>Update Task Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Case_in_CCV_is_Null</targetReference>
        </connector>
        <inputReference>collection_Tasks_Contracts_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Opportunity</name>
        <label>Update Task Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Contract_in_Opportunity_is_Null</targetReference>
        </connector>
        <inputReference>collection_Tasks_Opportunity_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_related_CCV</targetReference>
        </connector>
        <filterFormula>AND(
    OR(
        ISPICKVAL({!$Record.CCVStatus__c}, &quot;Concluído&quot;),
        ISPICKVAL({!$Record.CCVStatus__c}, &quot;Cancelado&quot;)
    ),
    OR(
        ISPICKVAL({!$Record.PaymentMethod__c}, &quot;Financiado&quot;),
        ISPICKVAL({!$Record.PaymentMethod__c}, &quot;Financiado com FGTS&quot;)
    ),
    NOT(ISBLANK({!$Record.Opportunity__c})),
    {!$Record.RecordType.DeveloperName} = &quot;Financed&quot;
)</filterFormula>
        <object>PurchaseSaleContract__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_Cases_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>collection_Tasks_Contracts_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>collection_Tasks_Opportunity_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>collection_Tasks_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
