force-app/main/default/flows/CCVAssignRecordTypeBasedOnPaymentMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignRecordTypeCash</name>
        <label>Associar RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCashRecordType.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignRecordTypeFinanced</name>
        <label>Associar RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFinancedRecordType.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CashRecordTpeDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </constants>
    <constants>
        <name>FinancedRecordTpeDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Financed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CashOrFinanced</name>
        <label>À Vista ou Financiado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Outro</defaultConnectorLabel>
        <rules>
            <name>Cash</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CASH USING FGTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCashRecordType</targetReference>
            </connector>
            <label>À Vista</label>
        </rules>
        <rules>
            <name>Financed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINANCED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINANCED USING FGTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFinancedRecordType</targetReference>
            </connector>
            <label>Financiado</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCVCreatedOrPaymentChanged</name>
        <label>CCV Criado ou Pagamento Alterado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PaymentMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PaymentMethod__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CashOrFinanced</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>[CCV] Associar RecordType Com Base no Método de Pagamento</description>
    <environments>Default</environments>
    <interviewLabel>[CCV] Assign RecordType Based On Payment Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[CCV] Associar RecordType Com Base no Método de Pagamento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCashRecordType</name>
        <label>Obter RecordType À Vista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordTypeCash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CashRecordTpeDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PurchaseSaleContract__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFinancedRecordType</name>
        <label>Obter RecordType Financiado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordTypeFinanced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancedRecordTpeDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PurchaseSaleContract__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CCVCreatedOrPaymentChanged</targetReference>
        </connector>
        <object>PurchaseSaleContract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
