force-app/main/default/flows/ForSaleRescissionAndAddenum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>AddenumOption</name>
        <choiceText>Aditivo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aditivo</stringValue>
        </value>
    </choices>
    <choices>
        <name>BuyerOption</name>
        <choiceText>Comprador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comprador</stringValue>
        </value>
    </choices>
    <choices>
        <name>RescissionOption</name>
        <choiceText>Distrato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Distrato</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellerOption</name>
        <choiceText>Vendedor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendedor</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>RequestTypeDecision</name>
        <label>Tipo de solicitação</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UpdateAddenumPurchaseSaleContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aditivo</defaultConnectorLabel>
        <rules>
            <name>Rescission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RescissionOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRescissionPurchaseSaleContract</targetReference>
            </connector>
            <label>Distrato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[ForSale] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ForSale] Distrato e Aditivo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRescissionAndAddendumCase</name>
        <label>[Distrato/Aditivo] Criar caso</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>RequestTypeDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_CreatedSequence__c</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForSaleFlow__c</field>
            <value>
                <stringValue>RESCISSION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ForSalePurchaseSaleContract.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseSaleContract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseForSaleRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Distrato/Aditivo</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ForSalePurchaseSaleContract</name>
        <label>[ForSale] Contrato de compra e venda</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FirstScreenFillData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseForSaleRecordType</name>
        <label>[ForSale] Tipo de registro do caso</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForSalePurchaseSaleContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ForSale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaskForSaleRecordType</name>
        <label>[ForSale] Tipo de registro da tarefa do caso</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseForSaleRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAddenumPurchaseSaleContract</name>
        <label>[Aditivo] Atualizar Contrato de compra e venda</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AddendumStatus__c</field>
            <value>
                <stringValue>Solicitado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <stringValue>Aditivo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>RequestedBy</elementReference>
            </value>
        </inputAssignments>
        <object>PurchaseSaleContract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRescissionPurchaseSaleContract</name>
        <label>[Distrato] Atualizar Contrato de compra e venda</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <stringValue>Distrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedBy__c</field>
            <value>
                <elementReference>RequestedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RescissionStatus__c</field>
            <value>
                <stringValue>Solicitado</stringValue>
            </value>
        </inputAssignments>
        <object>PurchaseSaleContract__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FirstScreenFillData</name>
        <label>[Primeira tela] preencher dados</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRescissionAndAddendumCase</targetReference>
        </connector>
        <fields>
            <name>FillTheFormForTheLegalTeam</name>
            <fieldText>&lt;p&gt;Preencha o formulário para o time de Legal &lt;a href=&quot;https://taak.com.br/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;clicando aqui&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequestType</name>
            <choiceReferences>RescissionOption</choiceReferences>
            <choiceReferences>AddenumOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de solicitação</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequestedBy</name>
            <choiceReferences>SellerOption</choiceReferences>
            <choiceReferences>BuyerOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solicitado por</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirmar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTaskForSaleRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
