force-app/main/default/flows/ForSaleCancelRescissionAndAddenum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddendumSetFlowName</name>
        <label>[Aditivo] atribuir nome do fluxo cancelado</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NameOfCanceledFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aditivo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalScreenSuccessMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RescissionSetFlowName</name>
        <label>[Distrato] atribuir nome do fluxo cancelado</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NameOfCanceledFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distrato</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalScreenSuccessMessage</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>RequestTypeDecision</name>
        <label>Tipo de solicitação</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ExceptionScreenWarn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Solicitação não realizada</defaultConnectorLabel>
        <rules>
            <name>Rescission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PurchaseSaleContract.RescissionStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRescissionPurchaseSaleContract</targetReference>
            </connector>
            <label>Distrato</label>
        </rules>
        <rules>
            <name>ADDENDUM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PurchaseSaleContract.AddendumStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAddenumPurchaseSaleContract</targetReference>
            </connector>
            <label>Aditivo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[ForSale] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ForSale] Cancelamento Distrato e Aditivo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>PurchaseSaleContract</name>
        <label>Contrato de Compra e Venda</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestTypeDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAddenumPurchaseSaleContract</name>
        <label>[Aditivo] Atualizar Contrato de compra e venda</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>AddendumSetFlowName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AddendumStatus__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>PurchaseSaleContract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRescissionPurchaseSaleContract</name>
        <label>[Distrato] Atualizar Contrato de compra e venda</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>RescissionSetFlowName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RescissionStatus__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <object>PurchaseSaleContract__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ExceptionScreenWarn</name>
        <label>[Tela exceção] aviso</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarnBecauseHasNoFlowRequested</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Não há distrato/aditivo solicitado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirmar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreenSuccessMessage</name>
        <label>[Tela final] Mensagem sucesso</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InfoRescissionOrAddendumCanceled</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!NameOfCanceledFlow} cancelado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirmar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FirstScreenConfirmCancellment</name>
        <label>[Tela inicial] Confirmar cancelamento</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>PurchaseSaleContract</targetReference>
        </connector>
        <fields>
            <name>ConfirmCancelRequest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confirme para prosseguir com o cancelamento do Distrato/Aditivo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirmar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstScreenConfirmCancellment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NameOfCanceledFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
