force-app/main/default/flows/IntegrationJob_ForSale_Failure_task_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Determine_which_task</name>
        <label>Determine which task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FS_CRED_BY_SEND_MESSAGE_TO_BUYER_ABOUT_ACCEPTED_OFFER_AND_PROVIDE_CONTACT_DETAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Front_Task</targetReference>
            </connector>
            <label>FS_CRED_BY_SEND_MESSAGE_TO_BUYER_ABOUT_ACCEPTED_OFFER_AND_PROVIDE_CONTACT_DETAILS_FOR_FINANCING_CONSULTANT</label>
        </rules>
        <rules>
            <name>FS_CRED_BY_SEND_MESSAGE_TO_BUYER_REGARDING_RECEIPT_OF_THE_CREDIT_FORM_AND_PROVID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Front_Task_2</targetReference>
            </connector>
            <label>FS_CRED_BY_SEND_MESSAGE_TO_BUYER_REGARDING_RECEIPT_OF_THE_CREDIT_FORM_AND_PROVID</label>
        </rules>
        <rules>
            <name>FS_CRED_BY_REMIND_FORM_FILL_IMPORTANCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Front_Task_3</targetReference>
            </connector>
            <label>FS_CRED_BY_REMIND_FORM_FILL_IMPORTANCE</label>
        </rules>
        <rules>
            <name>FS_CRED_BY_MESSAGE_NO_SUPPORT_AND_SEND_SELLER_PHONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Front_Task_4</targetReference>
            </connector>
            <label>FS_CRED_BY_MESSAGE_NO_SUPPORT_AND_SEND_SELLER_PHONE</label>
        </rules>
        <rules>
            <name>FS_CRED_SL_MESSAGE_NO_SUPPORT_AND_SEND_SELLER_PHONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Front_Task_5</targetReference>
            </connector>
            <label>FS_CRED_SL_MESSAGE_NO_SUPPORT_AND_SEND_SELLER_PHONE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[IntegrationJob/ForSale] - Failure task creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Front_Task</name>
        <label>Create Front Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Enviar mensagem para buyer sobre oferta aceita informar sobre o contato do consultor de financiamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_SEND_MESSAGE_TO_BUYER_ABOUT_ACCEPTED_OFFER_AND_PROVIDE_CONTACT_DETAILS_FOR_FINANCING_CONSULTANT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Front_Task_2</name>
        <label>Create Front Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Enviar mensagem para o buyer sobre o recebimento do form de crédito e informar sobre contato do consultor de financiamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_SEND_MESSAGE_TO_BUYER_REGARDING_RECEIPT_OF_THE_CREDIT_FORM_AND_PROVIDE_CONTACT_DETAILS_FOR_THE_FINANCING_CONSULTANT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Front_Task_3</name>
        <label>Create Front Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Lembrar comprador da importância do preenchimento do formulário de crédito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_REMIND_FORM_FILL_IMPORTANCE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Front_Task_4</name>
        <label>Create Front Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Mensagem reforçando que a opção por seguir com o financiamento por conta própria, o 5A não dará mais suporte. Enviar o telefone do vendedor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_MESSAGE_NO_SUPPORT_AND_SEND_SELLER_PHONE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Front_Task_5</name>
        <label>Create Front Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[SL] Mensagem reforçando que a opção por seguir com o financiamento por conta própria, o 5A não dará mais suporte. Enviar o telefone do comprador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_SL_MESSAGE_NO_SUPPORT_AND_SEND_SELLER_PHONE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedSObjectId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Type</name>
        <label>Get Task Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_which_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedSObjectTaskId__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>TaskType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>IntegrationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMMUNICATION_WHATSAPP_HSM</stringValue>
            </value>
        </filters>
        <filters>
            <field>IntegrationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMMUNICATION_EMAIL</stringValue>
            </value>
        </filters>
        <filters>
            <field>RequestAttempts__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RequestAttempts__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RequestStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <object>IntegrationJob__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
