force-app/main/default/flows/Opportunity_ForSale_Mortgage_Tasks_no_form_filled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cliente_quer_seguir_com_5A</name>
        <label>Cliente quer seguir com 5A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>NaoDecidiu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não decidiu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_ForSale_Create_Scheduling_Management_Flow_2</targetReference>
            </connector>
            <label>Não decidiu</label>
        </rules>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_ForSale_Create_Scheduling_Management_Flow</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity/ForSale] - Mort {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity/ForSale] - Mortgage Tasks - no form filled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Record_Type</name>
        <label>Busca Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_quer_seguir_com_5A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 6 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>FS_mortgageIntentionUuid__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_isCreditFormFilled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Não decidiu</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Scheduling_for_Whatsapp_2</name>
        <label>Create Scheduling for Whatsapp 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Task_ForSale_Create_Scheduling_Management</flowName>
        <inputAssignments>
            <name>businessDaysToAdd</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Comunicação de Saída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>typeTask</name>
            <value>
                <elementReference>typeTaskWp</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Task_ForSale_Create_Scheduling_Management_Flow</name>
        <label>Create Scheduling for Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Scheduling_for_Whatsapp_2</targetReference>
        </connector>
        <flowName>Task_ForSale_Create_Scheduling_Management</flowName>
        <inputAssignments>
            <name>businessDaysToAdd</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Comunicação de Saída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>typeTask</name>
            <value>
                <elementReference>typeTaskWp</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Task_ForSale_Create_Scheduling_Management_Flow_2</name>
        <label>Create Scheduling for Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Task_ForSale_Create_Scheduling_Management</flowName>
        <inputAssignments>
            <name>businessDaysToAdd</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Novo agendamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>typeTask</name>
            <value>
                <elementReference>typeTask</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>typeTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FS_CRED_BY_REMIND_INTERNAL_FINANCING_BENEFITS_AND_CHECK_CREDIT_ANALYSIS</stringValue>
        </value>
    </variables>
    <variables>
        <name>typeTaskWp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FS_CRED_BY_WHATSAPP_AUTO_FORM_REMINDER</stringValue>
        </value>
    </variables>
</Flow>
