force-app/main/default/flows/Opportunity_ForSale_Mortgage_Tasks_Cannot_use_FGTS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckProceedWithQuintoAndar</name>
        <label>Check Proceed With Quinto Andar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>ProceedIsBlank</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Front_Task_Realizar_contato_comercial_com_cliente_seguindo_checklist_da_tarefa</targetReference>
            </connector>
            <label>Proceed Is Blank</label>
        </rules>
        <rules>
            <name>ProceedNotDecided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não decidiu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FrontTaskRealizarDevolutivaSobreNaoElegibilidadeFGTS</targetReference>
            </connector>
            <label>Proceed Not Decided</label>
        </rules>
        <rules>
            <name>PreceedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FrontTaskRealizarDevolutivaSobreNaoElegibilidadeFGTS</targetReference>
            </connector>
            <label>Preceed Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity/ForSale] - Mortgage Tasks - no use FGTS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity/ForSale] - Mortgage Tasks - Can&apos;t Use FGTS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Front_Task_Realizar_contato_comercial_com_cliente_seguindo_checklist_da_tarefa</name>
        <label>Front Task(Realizar contato comercial com cliente seguindo checklist da tarefa e realizar devolutiva negativa sobre FGTS)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BuscaRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Realizar contato comercial com cliente seguindo checklist da tarefa e realizar devolutiva negativa sobre FGTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_MAKE_COMMERCIAL_CONTACT_WITH_CLIENT_FOLLOWING_TASK_CHECKLIST_PROVIDE_NEGATIVE_FEEDBACK_REGARDING_FGTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>FrontTaskRealizarDevolutivaSobreNaoElegibilidadeFGTS</name>
        <label>Front Task(Realizar devolutiva sobre não elegibilidade do FGTS)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BuscaRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Realizar a devolutiva sobre não elegibilidade ao FGTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_ON_FGTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BuscaRecordType</name>
        <label>Busca Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProceedWithQuintoAndar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuscaRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_CanUseFGTS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_CCVSigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_isCreditFormFilled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
