force-app/main/default/flows/Opportunity_ForSale_Inbound_Event_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Reset_Source_Event</name>
        <label>Reset Source Event?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_SourceEvent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCV_SIGNED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow que cria registros relacionados aos eventos recebidos</description>
    <environments>Default</environments>
    <interviewLabel>[Opportunity/ForSale] - Inbound Event Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity/ForSale] - Inbound Event Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inbound_Event</name>
        <label>Create Inbound Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Source_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FS_SourceEvent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>InboundEvent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>FS_SourceEvent__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Inbound_Event</targetReference>
        </connector>
        <filterFormula>OR(
    AND(ISNEW(), {!$Record.FS_SourceEvent__c} = &quot;SALE_OFFER_SENT&quot;),
    AND(ISCHANGED({!$Record.FS_SourceEvent__c}),{!$Record.FS_SourceEvent__c} = &quot;SALE_OFFER_SENT&quot;),
    AND(ISCHANGED({!$Record.FS_SourceEvent__c}),{!$Record.FS_SourceEvent__c} = &quot;SALE_OFFER_ACCEPTED&quot;),
    AND(ISCHANGED({!$Record.FS_SourceEvent__c}),{!$Record.FS_SourceEvent__c} = &quot;CCV_SIGNED&quot;)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
