force-app/main/default/flows/Opportunity_ForSale_Mortgage_Opp_Event_Intention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Distribui_oportunidade_por_carga_de_trabalho</name>
        <label>Distribui oportunidade por carga de trabalho</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OpportunityDistributionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Oportunidade_depois_de_Action</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueDevName</name>
            <value>
                <elementReference>QueueNameForSale</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityDistributionHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CollectionOpps</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adiciona_Task_na_Collection</name>
        <label>Adiciona Task na Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Percorre_tasks_pra_trocar_owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Percorre_tasks_pra_trocar_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adicionar_Tasks_Collection</name>
        <label>Adicionar Tasks Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TasksUpdateFinalizada</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Percorrer_Tasks_Abertas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Percorrer_Tasks_Abertas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Antigo_Owner_para_assignment</name>
        <label>Antigo Owner para assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>oldOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percorre_oportunidades.Agent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Designa_Usuario_Front_Como_Analista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cria_Task_Contato_Comercial</name>
        <label>Cria Task Contato Comercial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>record_newTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_For_Sale_RT_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Realizar contato comercial com cliente seguindo checklist da tarefa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS_CRED_BY_COMMERCIAL_CONTACT_FOLLOW_CHECKLIST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percorre_oportunidades.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Designa_Lista</name>
        <label>Designa Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CollectionOppsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionOppsAfterAction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Designa_opp_depois_de_action</name>
        <label>Designa opp  depois de action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CollectionOppsAfterAction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oportunidade_depois_de_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidade_depois_de_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Designa_opp_depois_de_atualiza_o</name>
        <label>Designa opp depois de atualização</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CollectionOppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Percorre_oportunidades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Busca_Task_Contato_Comercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Designa_opp_na_action</name>
        <label>Designa opp na action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CollectionOppsAfterAction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_atendente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Designa_Owner_da_Task</name>
        <label>Designa Owner da Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Percorre_tasks_pra_trocar_owner.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adiciona_Task_na_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Designa_Usuario_Front_Como_Analista</name>
        <label>Designa Usuario Front Como Analista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Percorre_oportunidades.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Designa_opp_depois_de_atualiza_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fechar_Tasks</name>
        <label>Fechar Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Percorrer_Tasks_Abertas.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Percorrer_Tasks_Abertas.Bypass_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adicionar_Tasks_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Collection_Assignment</name>
        <label>Task Collection Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks_with_Old_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Usu_rio_de_integra_o_para_Task</name>
        <label>Usuário de integração para Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserToTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Mortgage_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Usu_rio_de_integra_o_para_Task2</name>
        <label>Usuário de integração para Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserToTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Formul_rio_cr_dito</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IntegracaoConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Integração</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueNameForSale</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FilaForSaleBack</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checar_Tasks_abertas</name>
        <label>Checar Tasks abertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Percorrer_Tasks_Abertas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finalizadas</defaultConnectorLabel>
        <rules>
            <name>Abertas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Percorrer_Tasks_Abertas.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fechar_Tasks</targetReference>
            </connector>
            <label>Abertas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_m_todo_pagamento</name>
        <label>Check método pagamento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Financiado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_paymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINANCED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Task_Proposta</targetReference>
            </connector>
            <label>Financiado</label>
        </rules>
        <rules>
            <name>Financiado_com_FGTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_paymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINANCED_USING_FGTS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Eligibilidade_FGTS</targetReference>
            </connector>
            <label>Financiado com FGTS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cria_o_de_task_de_Whatsapp</name>
        <label>Criação de task de Whatsapp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_User2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOfferAcceptedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOfferAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Task_Whatsapp</targetReference>
            </connector>
            <label>isOfferAcceptedTrue</label>
        </rules>
        <rules>
            <name>isCreditFormTrueWP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreditFormTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Task_Whatsapp2</targetReference>
            </connector>
            <label>isCreditFormTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_atendente</name>
        <label>Existe atendente ou Email alterado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_AgentEmail__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Designa_Lista</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existem_tasks_no_antigo_owner</name>
        <label>Existem tasks no antigo owner?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Percorre_oportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks_with_Old_Owner</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percorre_tasks_pra_trocar_owner</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fluxo_de_encarteiramento</name>
        <label>Fluxo de encarteiramento?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Usu_rio_de_integra_o_para_Task2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEncarteiramento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_o_de_task_de_Whatsapp</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Formul_rio_cr_dito</name>
        <label>Formulário crédito preenchido?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_isCreditFormFilled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_isCreditFormFilled__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_Formulario_Nao_Concluido</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nova_oportunidade</name>
        <label>Nova oportunidade?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fluxo_de_encarteiramento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usu_rio_de_integra_o_para_Task</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tarefa_Existente</name>
        <label>Tarefa Existente?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks_with_Old_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe</defaultConnectorLabel>
        <rules>
            <name>Nao_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_Task_Contato_Comercial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Percorre_oportunidades.FS_isCreditFormFilled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Task_Contato_Comercial</targetReference>
            </connector>
            <label>Não existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_existe</name>
        <label>User existe?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Percorre_oportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Designa_Lista</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usu_rio_de_integra_o</name>
        <label>Usuário de integração?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Designa_opp_na_action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_4</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>OwnerNameConstant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>IntegracaoConstant</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_SourceEvent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SPECIALIST_ASSIGNED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerNameConstant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bruno Donizeti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerNameConstant</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distribui_oportunidade_por_carga_de_trabalho</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_se_Tasks_Existem</name>
        <label>Verificar se Tasks Existem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_m_todo_pagamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Existem</defaultConnectorLabel>
        <rules>
            <name>Tasks_Existem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks_Formulario_Nao_Concluido</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percorrer_Tasks_Abertas</targetReference>
            </connector>
            <label>Tasks Existem</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isCreditFormTrue</name>
        <dataType>Boolean</dataType>
        <expression>(
    ISCHANGED({!$Record.FS_isCreditFormFilled__c}) &amp;&amp;
    {!$Record.FS_isCreditFormFilled__c} = true
)</expression>
    </formulas>
    <formulas>
        <name>isEncarteiramento</name>
        <dataType>Boolean</dataType>
        <expression>(
    ISCHANGED({!$Record.FS_SourceEvent__c}) &amp;&amp;
    (
        {!$Record.FS_SourceEvent__c} = &apos;SALE_OFFER_ACCEPTED&apos; ||
        {!$Record.FS_SourceEvent__c} = &apos;SPECIALIST_ASSIGNED&apos;
    )
)
||
(
    ISCHANGED({!$Record.FS_isCreditFormFilled__c}) &amp;&amp;
    {!$Record.FS_isCreditFormFilled__c} = true
)
||
(
    ISCHANGED({!$Record.FS_AgentEmail__c})
)</expression>
    </formulas>
    <formulas>
        <name>isNewOpp</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isOfferAccepted</name>
        <dataType>Boolean</dataType>
        <expression>(
    ISCHANGED({!$Record.FS_SourceEvent__c}) &amp;&amp;
    {!$Record.FS_SourceEvent__c} = &apos;SALE_OFFER_ACCEPTED&apos;
)</expression>
    </formulas>
    <interviewLabel>[Opportunity - ForSale] - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity/ForSale] - Mortgage Opp Event Intention</label>
    <loops>
        <name>Oportunidade_depois_de_Action</name>
        <label>Oportunidade depois de Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CollectionOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Designa_opp_depois_de_action</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existe_atendente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Percorre_oportunidades</name>
        <label>Percorre oportunidades</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CollectionOppsAfterAction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Antigo_Owner_para_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tasks_para_criar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Percorre_tasks_pra_trocar_owner</name>
        <label>Percorre tasks pra trocar owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Tasks_with_Old_Owner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Designa_Owner_da_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Percorre_oportunidades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Percorrer_Tasks_Abertas</name>
        <label>Percorrer Tasks Abertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Tasks_Formulario_Nao_Concluido</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checar_Tasks_abertas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks_Finalizadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Eligibilidade_FGTS</name>
        <label>Create Eligibilidade FGTS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_For_Sale_RT_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Analisar a Elegibilidade do FGTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_FGTS_ELIGIBILITY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_Task_Whatsapp</name>
        <label>Cria Task Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_For_Sale_RT_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contato automático via WhatsApp – Financiamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_WHATSAPP_AUTO_MORTGAGE_CONTACT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_Task_Whatsapp2</name>
        <label>Cria Task Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_For_Sale_RT_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Lembrete automático via WhatsApp – Dados de crédito recebidos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_WHATSAPP_AUTO_CREDIT_DATA_RECEIVED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tasks_para_criar</name>
        <label>Tasks para criar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_Collection</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>taskToCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Busca_Task_Contato_Comercial</name>
        <label>Busca Task Contato Comercial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarefa_Existente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Percorre_oportunidades.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_COMMERCIAL_CONTACT_FOLLOW_CHECKLIST</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_For_Sale_RT_Task</name>
        <label>Get For Sale RT Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nova_oportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mortgage_RT</name>
        <label>Get Mortgage RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mortgage</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Formulario_Nao_Concluido</name>
        <label>Get Tasks Formulario Nao Concluido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verificar_se_Tasks_Existem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_with_Old_Owner</name>
        <label>Get Tasks with Old Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existem_tasks_no_antigo_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Percorre_oportunidades.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldOwner</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FS_AgentEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user usada pois o Owner.Name não pode ser puxado para validação de valor</description>
        <name>Get_User2</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usu_rio_de_integra_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerNameConstant</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Collection</name>
        <label>Atualiza Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Formul_rio_cr_dito</targetReference>
        </connector>
        <inputReference>CollectionOppsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Type_Opp</name>
        <label>Update Record Type Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Formul_rio_cr_dito</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Mortgage_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks_Finalizadas</name>
        <label>Update Tasks Finalizadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_m_todo_pagamento</targetReference>
        </connector>
        <inputReference>TasksUpdateFinalizada</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_For_Sale_RT_Task</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>FS_mortgageIntentionUuid__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_paymentMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINANCED</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_paymentMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINANCED_USING_FGTS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Task_Proposta</name>
        <label>Generate Task Proposta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Opportunity_ForSale_Generate_Proposal_Task</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CollectionOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CollectionOppsAfterAction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CollectionOppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oldOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable responsible to be used in the task creation, defines the owner, if the email is filled in the payload, the owner is the user with that email, if not, is the integration user</description>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerNameConstant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksUpdateFinalizada</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UserToTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
