force-app/main/default/flows/Pendency_ForSale_Control_of_completed_requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Record_Type_is_Document</name>
        <label>Decision Record Type is Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_is_Documents</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ForSale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Processo_Ativo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_ON_CREDIT_ANALYSIS_TO_CLIENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Processo_Ativo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_BY_MAKE_COMMERCIAL_CONTA_WITH_FEEDBACK_CREDIT_ANALYSIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Processo_Ativo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_REGARDING_OBJECTION_TO_BANK_PROPOSAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Requests_Related_Opportunity</targetReference>
            </connector>
            <label>Record Type is Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_Task</name>
        <label>Decision Has request related Opportunity Pending ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Aproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Request</targetReference>
            </connector>
            <label>Status is Aproved ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Pendency/ForSale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Pendency/ForSale] - Control of completed requests</label>
    <loops>
        <name>Loop_Request</name>
        <label>Loop Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Requests_Related_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Type_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Proposal_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Record_Type_is_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requests_Related_Opportunity</name>
        <label>Get Requests Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReceivedDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Solicitado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Enviado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ReceivedDocument__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Proposal_Task</name>
        <label>Generate Proposal Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Opportunity_ForSale_Generate_Proposal_Task</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
