force-app/main/default/flows/ScreenFlow_KeyLogisticsManualLocksmith.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AbrirTarefaOffboarding</name>
        <label>Abrir Tarefa Offboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterCaso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contato com PP solicitando chaveiro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_REQUEST_LOCKSMITH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterCaso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarTarefa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AbrirTarefaOnboarding</name>
        <label>Abrir Tarefa Onboarding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterCaso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[PP] - Contato com PP informando sobre chaveiro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_ON_CONTACT_PP_INFORM_LOCKSMITH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterCaso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarTarefa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CancelarTarefaAtribuirColecao</name>
        <label>Cancelar Tarefa e Atribuir à Coleção</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarTarefasAbertas.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecordToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColTasksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskRecordToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarTarefasAbertas</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CasoOffBoardingOuOnboarding</name>
        <label>Caso OffBoarding ou Onboarding?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CriarTarefa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CasoOffBoarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterCaso.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AbrirTarefaOffboarding</targetReference>
            </connector>
            <label>Caso OffBoarding</label>
        </rules>
        <rules>
            <name>CasoOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterCaso.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AbrirTarefaOnboarding</targetReference>
            </connector>
            <label>Caso Onboarding</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TimeSinceContractTerm</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!ObterCaso.RelatedContract__r.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TimeSinceInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - DATEVALUE({!ObterCaso.Inspection__r.ExecutedAt__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[ScreenFlow] - Key Logistics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ScreenFlow] - Key Logistics Manual Locksmith</label>
    <loops>
        <name>IterarTarefasAbertas</name>
        <label>Iterar Tarefas Abertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Tarefas_Abertas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CancelarTarefaAtribuirColecao</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CancelarTarefasAbertas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarTarefa</name>
        <label>Criar Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RollbackRecords</targetReference>
        </faultConnector>
        <inputReference>TaskToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obter_Tarefas_Abertas</name>
        <label>Obter Tarefas Abertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarTarefasAbertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterCaso</name>
        <label>Obter Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WelcomeScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedContract__c</queriedFields>
        <queriedFields>Inspection__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRecordTypeTarefasKeyLogistics</name>
        <label>Obter RecordType Tarefas Key Logistics</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Tarefas_Abertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordRollbacks>
        <name>RollbackRecords</name>
        <label>Rollback Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>CancelarTarefasAbertas</name>
        <label>Cancelar Tarefas Abertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CasoOffBoardingOuOnboarding</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecords</targetReference>
        </faultConnector>
        <inputReference>ColTasksToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Opa, parece que encontramos um erro. Por favor, informe a mensagem de erro abaixo ao seu administrador:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(208, 1, 4);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;O fluxo de chaveiro foi iniciado com sucesso!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WelcomeScreen</name>
        <label>WelcomeScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObterRecordTypeTarefasKeyLogistics</targetReference>
        </connector>
        <fields>
            <name>TimeSinceInspectionMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Passaram-se {!TimeSinceInspection} dias desde a vistoria, deseja continuar?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObterCaso.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Key Logistics For Rent Offboarding</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContractTermMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Passaram-se {!TimeSinceContractTerm} dias da vigência do contrato, deseja continuar?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObterCaso.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Key Logistics For Rent Onboarding</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;*Iniciar o fluxo de chaveiro encerrará as tarefas já criadas para este caso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterCaso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColTasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
