force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentOnboarding_Lockbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Contact_Reply_IQ_Pending</name>
        <label>Contact Reply IQ - Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Case.ContactReplyIQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_case_IQ_Pending</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decis_o_4</name>
        <label>Qual o Tipo da Tarefa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>KL_FR_ON_CONTACT_IQ_INSTRUCT_BREAK_LOCKBOX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_IQ_INSTRUCT_BREAK_LOCKBOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting</targetReference>
            </connector>
            <label>[IQ] - Contato com IQ para orientar que quebre a lockbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>DidIQReplied</name>
        <label>IQ Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Vazio</defaultConnectorLabel>
        <rules>
            <name>YesReplied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CaseIQSuccess</targetReference>
            </connector>
            <label>Sim, Respondeu</label>
        </rules>
        <rules>
            <name>NoNotReplied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <label>Não, não respondeu</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting</name>
        <label>Situação da Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>TaskCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case</targetReference>
            </connector>
            <label>Record insert</label>
        </rules>
        <rules>
            <name>YesIsCompleting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DidIQReplied</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NowPlus5Hours</name>
        <dataType>DateTime</dataType>
        <expression>NOW () +(5/24)</expression>
    </formulas>
    <formulas>
        <name>TimeSinceTheInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - {!NewTask.Case__r.RelatedContract__r.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Task] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Flow Maestro Task Key Logistics For Rent Onboarding - Lockbox</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Reply_IQ_Pending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CaseIQSuccess</name>
        <label>Update Case IQ Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Task_Finalizar_Caso_e_Cancelar_Tarefas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyIQ__c</field>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_case_IQ_Pending</name>
        <label>Update related case (IQ Pending)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Related_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decis_o_4</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Task_Finalizar_Caso_e_Cancelar_Tarefas</name>
        <label>[Case &amp; Task] Finalizar Caso e Cancelar Tarefas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>NewTask.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
