force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentOffboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>KeyLogisticRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>KeyLogisticsForRent</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionIsOffboardingKeyLogisticType</name>
        <label>É do Tipo de Logística de Chaves de Offboarding?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não é de Logística de Chaves</defaultConnectorLabel>
        <rules>
            <name>IsKeysLogisticOffboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KeyLogisticRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionKeysLocation</targetReference>
            </connector>
            <label>É Offb de Logística de Chaves</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionKeysLocation</name>
        <label>Local das Chaves</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Inspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSPECTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InspectorLogic</targetReference>
            </connector>
            <label>Vistoriador</label>
        </rules>
        <rules>
            <name>Lockbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOCK_BOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LockboxLogic</targetReference>
            </connector>
            <label>Lockbox</label>
        </rules>
        <rules>
            <name>ExternalResponsible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXTERNAL_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OthersLogic</targetReference>
            </connector>
            <label>ExternalResponsible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Taks] Flow Maestro Tasks Key Logistics For Rent Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Taks] Flow Maestro Tasks Key Logistics For Rent Offboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionIsOffboardingKeyLogisticType</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>InspectorLogic</name>
        <label>Lógica Vistoriador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>TaskOrchestryFlowTaskKeyLogisticsForRentOffboarding_Inspector</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PriorTask</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LockboxLogic</name>
        <label>Lógica de Lockbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Task_FlowMaestroTaskKeyLogisticsForRentOffboardingLockbox</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PriorTask</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OthersLogic</name>
        <label>Lógica de Responsável Externo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>TaskOrchestryFlowTaskKeyLogisticsForRentOffboarding_Others</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PriorTask</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
