force-app/main/default/flows/Task_ForSale_FGTS_Eligibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_CCV_Null</name>
        <label>Check CCV Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Legal_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao Existe</defaultConnectorLabel>
        <rules>
            <name>CCV_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CCV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.FS_CCVSigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cliente_quer_Seguir_com_Quinto_Andar</targetReference>
            </connector>
            <label>CCV Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pode_usar_FGTS</name>
        <label>Check Pode usar FGTS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_CCV_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_CanUseFGTS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Task_Proposta</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_Task</name>
        <label>Decision Type Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_ForSale_Generate_Proposal_Task_Flow_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_is_Analisat_Elegibilidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_FGTS_ELIGIBILITY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RT_Task</targetReference>
            </connector>
            <label>Type is Analisat Elegibilidade</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Task/ForSale] - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - FGTS Eligibility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Legal_Task</name>
        <label>Create Legal Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Informar Legal que não é possivel utilizar o FGTS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_INFORM_CLIENT_THAT_FGTS_CANNOT_BE_USED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CCV</name>
        <label>Get CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Type_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Task</name>
        <label>Get RT Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pode_usar_FGTS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_FGTS_ELIGIBILITY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_MAKE_COMMERCIAL_CONTACT_WITH_CLIENT_FOLLOWING_TASK_CHECKLIST_PROVIDE_NEGATIVE_FEEDBACK_REGARDING_FGTS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_ON_FGTS</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_CanUseFGTS__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cliente_quer_Seguir_com_Quinto_Andar</name>
        <label>Cliente quer Seguir com Quinto Andar?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Opportunity_ForSale_Mortgage_Tasks_Can_t_Use_FGTS_AutoLaunched</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>Get_Opportunity_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Task_Proposta</name>
        <label>Generate Task Proposta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Opportunity_ForSale_Generate_Proposal_Task</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>Get_Opportunity_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Opportunity_ForSale_Generate_Proposal_Task_Flow_2</name>
        <label>[Opportunity/ForSale] - Generate Proposal Task Flow 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Opportunity_ForSale_Generate_Proposal_Task</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>Get_Opportunity_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
