force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentAfter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_operation_context</name>
        <label>Check operation context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>delete context</defaultConnectorLabel>
        <rules>
            <name>insert_context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyTaskRecordType</targetReference>
            </connector>
            <label>insert context</label>
        </rules>
        <rules>
            <name>update_context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>update context</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyTaskRecordType</name>
        <label>Verify task record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IsKeyLogisticsForRentRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KeyLogisticsForRentRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentForm</targetReference>
            </connector>
            <label>Is key logistics for rent record type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Taks] Flow Maestro Tasks Key Logistics For Rent After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Taks] Flow Maestro Tasks Key Logistics For Rent After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create dynamic form with default values</description>
        <name>Createdynamicformwithdefaultvalues</name>
        <label>Create dynamic form with default values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <stringValue>[{&quot;Status&quot;: &quot;Not Started&quot;}]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentForm__c</field>
            <value>
                <elementReference>ParentFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FormAnswerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>DynamicForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get form answer record type id</description>
        <name>GetFormAnswerRecordTypeId</name>
        <label>Get form answer record type id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Createdynamicformwithdefaultvalues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DynamicForm__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FormAnswer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FormAnswerRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get parent form</description>
        <name>GetParentForm</name>
        <label>Get parent form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFormAnswerRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FormFilterValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <object>DynamicForm__c</object>
        <outputAssignments>
            <assignToReference>ParentFormId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_operation_context</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>FormAnswerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeyLogisticsForRentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>KeyLogisticsForRent</stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
