force-app/main/default/flows/Task_TaskCreationKeyLogisticsForRentOffboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Create task &quot;Contato com PP para confirmar endereço, horário e responsável&quot;</description>
        <name>CreateTaskContactPPConfirmAddressTimeEesponsible</name>
        <label>Create task contact PP to confirm address, time and responsible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.ContractId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetKeyLogisticsForRentOffboardingRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contato com PP para confirmar endereço, horário e responsável</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTaskContactVTConfirmAddressTimeEesponsible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create task &quot;Contato com PP perguntando se ele precisa da chave?&quot;</description>
        <name>CreateTaskContactPPNeedKey</name>
        <label>Create task contact PP need key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.ContractId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetKeyLogisticsForRentOffboardingRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[PP] - Contato com PP para orientar que quebre a lockbox</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_INSTRUCT_BREAK_LOCKBOX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create task &quot;Contato com VT para confirmar endereço, horário e responsável&quot;</description>
        <name>CreateTaskContactVTConfirmAddressTimeEesponsible</name>
        <label>Create task contact VT to confirm address, time and responsible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.ContractId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetKeyLogisticsForRentOffboardingRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contato com VT para confirmar endereço, horário e responsável</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create task &quot;Contato com VT para confirmar pessoa que está com a chave&quot;</description>
        <name>CreateTaskContactVTConfirmKeyHolder</name>
        <label>Create task contact VT to confirm key holder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.ContractId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetKeyLogisticsForRentOffboardingRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[VT] - Contato com VT para confirmar pessoa que está com a chave</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_KEY_HOLDER</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Offboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRelatedTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verify if key is in lockbox and with inspector</description>
        <name>KeyInLockboxAndWithInspector</name>
        <label>Key in lockbox and with inspector</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateRelatedTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>KeyIsInLockboxAndWithInspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCase.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOCK_BOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskContactPPNeedKey</targetReference>
            </connector>
            <label>Key is in lockbox and with inspector</label>
        </rules>
        <rules>
            <name>KeyWithInspector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCase.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INSPECTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskContactPPConfirmAddressTimeEesponsible</targetReference>
            </connector>
            <label>Key with inspector</label>
        </rules>
        <rules>
            <name>KeyIsIsWithExternalResponsible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCase.KeyLocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXTERNAL_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTaskContactVTConfirmKeyHolder</targetReference>
            </connector>
            <label>Key is with external responsible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Task] Task Creation Key Logistics For Rent Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Task Creation Key Logistics For Rent Offboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create related tasks</description>
        <name>CreateRelatedTasks</name>
        <label>Create related tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewTaskList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get key logistics for rent offboarding record type</description>
        <name>GetKeyLogisticsForRentOffboardingRecordType</name>
        <label>Get key logistics for rent offboarding record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KeyInLockboxAndWithInspector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetKeyLogisticsForRentOffboardingRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>New task</description>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
