force-app/main/default/flows/Task_ForSale_Mortgage_Tasks_No_Form_Filled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cliente_quer_seguir_com_5A</name>
        <label>Cliente quer seguir com 5A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NaoDecidiu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não decidiu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Opp_Nao_Decidiu</targetReference>
            </connector>
            <label>Não decidiu</label>
        </rules>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Opp_Sim</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsBussinesDay</name>
        <dataType>Boolean</dataType>
        <expression>WEEKDAY($Flow.CurrentDate) &gt;= 2 &amp;&amp; WEEKDAY($Flow.CurrentDate) &lt;= 6</expression>
    </formulas>
    <interviewLabel>[Task/ForSale] - Mortgage Tasks - No Form Filled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Mortgage Tasks - No Form Filled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Opp_Relacionada</name>
        <label>Busca Opp Relacionada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Busca_Record_Type</name>
        <label>Busca Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Busca_Opp_Relacionada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCV</name>
        <label>Get CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Busca_Opp_Relacionada.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Default</name>
        <label>Get User Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_quer_seguir_com_5A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integração QuintoAndar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integracao@quintoandar.com.br.forno</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Opp_Nao_Decidiu</name>
        <label>Atualiza Opp Não Decidiu</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Scheduling_for_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <value>
                <stringValue>Não decidiu</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Opp_Sim</name>
        <label>Atualiza Opp Sim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Scheduling_for_Whatsapp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_Record_Type</targetReference>
        </connector>
        <filterLogic>2  AND 5 AND 6 AND (1 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_COMMERCIAL_CONTACT_FOLLOW_CHECKLIST</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_REMIND_INTERNAL_FINANCING_BENEFITS_AND_CHECK_CREDIT_ANALYSIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_SL_CONTACT_SELLER_NO_SUPPORT_EXPLANATION</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProceedWithQuintoAndar__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Scheduling_for_Task</name>
        <label>Create Scheduling for Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Task_ForSale_Create_Scheduling_Management</flowName>
        <inputAssignments>
            <name>businessDaysToAdd</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>Busca_Opp_Relacionada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Busca_Opp_Relacionada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Novo agendamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>typeTask</name>
            <value>
                <stringValue>FS_CRED_BY_REMIND_INTERNAL_FINANCING_BENEFITS_AND_CHECK_CREDIT_ANALYSIS</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Scheduling_for_Whatsapp</name>
        <label>Create Scheduling for Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Scheduling_for_Whatsapp_2</targetReference>
        </connector>
        <flowName>Task_ForSale_Create_Scheduling_Management</flowName>
        <inputAssignments>
            <name>businessDaysToAdd</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>Busca_Opp_Relacionada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Busca_Opp_Relacionada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Comunicação de Saída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>typeTask</name>
            <value>
                <stringValue>FS_CRED_BY_WHATSAPP_AUTO_FORM_REMINDER</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Scheduling_for_Whatsapp_2</name>
        <label>Create Scheduling for Whatsapp 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Task_ForSale_Create_Scheduling_Management</flowName>
        <inputAssignments>
            <name>businessDaysToAdd</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>Busca_Opp_Relacionada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Busca_Opp_Relacionada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Comunicação de Saída</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>typeTask</name>
            <value>
                <stringValue>FS_CRED_BY_WHATSAPP_AUTO_FORM_REMINDER</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collection_Cases_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
