force-app/main/default/flows/TaskCreateDocumentLinkParentCaseSubCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignContentDocumentLink</name>
        <label>Assign Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLinkToAssign.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocLinkLoop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLinkToAssign.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLinkToAssign.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLinkToAssign.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLinksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocLinkToAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocLinkLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Content_Doc_Id_List</name>
        <label>Fill Content Doc Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FillContentDocIdListLoop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FillContentDocIdListLoop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Task] - Create Document Link Parent Case and Sub Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] - Create Document Link Parent Case and Sub Case</label>
    <loops>
        <name>ContentDocLinkLoop</name>
        <label>Content Doc Link Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetContentDocLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContentDocumentLinkSubCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FillContentDocIdListLoop</name>
        <label>Fill Content Doc Id List Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetContentDocLinkParent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_Content_Doc_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetContentDocLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContentDocumentLinkSubCase</name>
        <label>Create Content Document Link - SubCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ContentDocLinksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContentDocLink</name>
        <label>Get Content Doc Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocLinkLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ContentDocumentIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContentDocLinkParent</name>
        <label>Get Content Doc Link Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FillContentDocIdListLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContentDocLinkParent</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND (1 OR 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KL_FR_OF_CONTACT_PP_REQUEST_LOCKSMITH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Answer__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KL_FR_ON_CONTACT_IQ_ALLOW_CALL_LOCKSMITH</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>700</triggerOrder>
    <variables>
        <name>ContentDocLinksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocLinkToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
