force-app/main/default/flows/Task_ForSale_Proposta_com_contestacao_Cria_Tarefas_de_Contestacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Monta_nova_Tarefa</name>
        <label>Monta nova Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FS_CRED_DISPUTING_BANK_CREDIT_RESULT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Tarefa_contestacao_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_de_acionamento.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_de_acionamento.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_de_acionamento.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_DatadeVencimentodaNovaTarefa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Tarefa.FS_ProposalsRequiringDispute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_banco_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tarefas_para_criar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Nova_Tarefa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Verifica_lista_de_bancos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepara_banco_var</name>
        <label>Prepara banco var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_banco_Loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_RPAD_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_banco_Lista</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_SUBSTITUTE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_banco_Loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_REMOVE_semicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monta_nova_Tarefa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Extrai os valores do campo &quot;Propostas que demandaram contestação&quot; para ser processado nos próximos elementos.</description>
        <name>Prepara_Lista_de_bancos</name>
        <label>Prepara Lista de bancos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_banco_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_de_acionamento.FS_ProposalsRequiringDispute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_banco_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_lista_de_bancos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verifica_lista_de_bancos</name>
        <label>Verifica lista de bancos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Criar_Tarefas_de_Contesta_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Final</defaultConnectorLabel>
        <rules>
            <name>Processar_bancos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_banco_Lista</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepara_banco_var</targetReference>
            </connector>
            <label>Processar bancos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Fm_DatadeVencimentodaNovaTarefa</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <description>Remove o último ponto e vírgula da string.</description>
        <name>Fm_REMOVE_semicolon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!var_banco_Loop}, &quot;;&quot;, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <description>Retorna o próximo valor da lista de bancos.</description>
        <name>Fm_RPAD_1</name>
        <dataType>String</dataType>
        <expression>RPAD({!var_banco_Lista}, FIND(&apos;;&apos;, {!var_banco_Lista}))</expression>
    </formulas>
    <formulas>
        <description>Remove o nome do banco atual da lista.</description>
        <name>Fm_SUBSTITUTE</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_banco_Lista}, {!var_banco_Loop}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Fm_Tarefa_contestacao_name</name>
        <dataType>String</dataType>
        <expression>&quot;Contestação do resultado de crédito do banco&quot;&amp; &quot; &quot; &amp; {!var_banco_Loop}</expression>
    </formulas>
    <interviewLabel>[Task/ForSale] - Proposta com contestação - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Proposta com contestação - Cria Tarefas de Contestação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Tarefas_de_Contesta_o</name>
        <label>Criar Tarefas de Contestação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Tarefas_para_criar</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prepara_Lista_de_bancos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Nova_Tarefa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tarefas_para_criar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task_de_acionamento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_banco_Lista</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_banco_Loop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
