force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentOnboarding_Others.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decis_o_4</name>
        <label>Qual o Tipo da Tarefa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>KL_FR_ON_CONTACT_VT_CONFIRM_KEY_HOLDER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_VT_CONFIRM_KEY_HOLDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting</targetReference>
            </connector>
            <label>[VT] - Contato com VT para confirmar pessoa que está com a chave</label>
        </rules>
        <rules>
            <name>KL_FR_ON_CONTACT_IQ_INFORM_KEY_LOCATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_IQ_INFORM_KEY_LOCATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting2</targetReference>
            </connector>
            <label>[IQ] - Contato com IQ informando onde estão as chaves</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPPAnswered</name>
        <label>IQ com acesso?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Locksmith_sub_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>YesIQWithAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Task_Finalizar_Caso_e_Cancelar_Tarefas_Fluxo</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>YesIsCompleting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsSuccess</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting2</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>YesIsCompleting2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasPPAnswered</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSuccess</name>
        <label>Sucesso?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>YesIsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>keys_fr_onb_other_iq_contact</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsInAccordanceWithThePolicy</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>IsStateSP</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>NowPlus5Hours</name>
        <dataType>DateTime</dataType>
        <expression>NOW () +(5/24)</expression>
    </formulas>
    <formulas>
        <name>TimeSinceContractTerm</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - {!NewTask.Case__r.RelatedContract__r.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TimeSinceTheInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - DATEVALUE({!NewTask.Case__r.Inspection__r.ExecutedAt__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Task] Flow Maestro Task Key Logistics For Rent Onboarding - Others {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Flow Maestro Task Key Logistics For Rent Onboarding - Others</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>keys_fr_onb_other_iq_contact</name>
        <label>Criar Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NewTask.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstInteractionDate__c</field>
            <value>
                <elementReference>NewTask.FirstInteractionDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewTask.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>NewTask.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[IQ] - Contato com IQ informando onde estão as chaves</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_ON_CONTACT_IQ_INFORM_KEY_LOCATION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decis_o_4</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Task_Finalizar_Caso_e_Cancelar_Tarefas_Fluxo</name>
        <label>Finalizar Caso e Cancelar Tarefas Fluxo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStage</name>
            <value>
                <stringValue>ClosedWon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Locksmith_sub_case</name>
        <label>Create Locksmith sub case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Locksmith</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskActionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskActionRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskManagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
