force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign task management values</description>
        <name>AssignTaskManagementValues</name>
        <label>Assign task management values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedTaskManagement.TaskDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TaskManagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedTaskManagement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.RelatedContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>DontExistAttach</name>
        <label>Dont Exist attach</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Não existe nenhum anexo referente a tarefa. Favor anexar o(s) arquivo(s) obrigatório(s)</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_operation_context</name>
        <label>Check operation context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>delete context</defaultConnectorLabel>
        <rules>
            <name>insert_context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyTaskRecordType</targetReference>
            </connector>
            <label>insert context</label>
        </rules>
        <rules>
            <name>update_context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_task</targetReference>
            </connector>
            <label>update context</label>
        </rules>
    </decisions>
    <decisions>
        <name>FilesFound</name>
        <label>Files Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DontExistAttach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Found_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContentDocumentLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Found Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolved_task</name>
        <label>Check task status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_OF_CONTACT_PP_REQUEST_LOCKSMITH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_IQ_ALLOW_CALL_LOCKSMITH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContentDocumentLink</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify task record type</description>
        <name>VerifyTaskRecordType</name>
        <label>Verify task record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>IsKeyLogisticsForRentRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KeyLogisticsForRentRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedTaskManagement</targetReference>
            </connector>
            <label>Is key logistics for rent record type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Owner:User.Id}), {!$Record.OwnerId}, {!$Record.Owner:User.Id})</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetRelatedTaskManagement.Subject__c}), {!$Record.Subject}, {!GetRelatedTaskManagement.Subject__c})</expression>
    </formulas>
    <interviewLabel>[Taks] Flow Maestro Tasks Key Logistics For Rent Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Taks] Flow Maestro Tasks Key Logistics For Rent Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContentDocumentLink</name>
        <label>Get Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilesFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related task management by type</description>
        <name>GetRelatedTaskManagement</name>
        <label>Get related task management</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTaskManagementValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TaskManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_operation_context</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>KeyLogisticsForRentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>KeyLogisticsForRent</stringValue>
        </value>
    </variables>
</Flow>
