force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRent_Ride.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decis_o_4</name>
        <label>Qual o Tipo da Tarefa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Decision_KL_FR_REQUEST_RIDE_TRANSPORT_COMPANY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_REQUEST_RIDE_TRANSPORT_COMPANY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting</targetReference>
            </connector>
            <label>Solicitar corrida para a transportadora</label>
        </rules>
        <rules>
            <name>Decision_KL_FR_UPDATE_KEY_LOCATION_MAGIC_LINK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_UPDATE_KEY_LOCATION_MAGIC_LINK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting2</targetReference>
            </connector>
            <label>Atualizar local das chaves no Magic Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasRideWorked</name>
        <label>Corrida deu certo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Finalizar_Caso_e_Tarefas_Chaveiro_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não deu certo</defaultConnectorLabel>
        <rules>
            <name>YesRideWorked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abrir_tarefa</targetReference>
            </connector>
            <label>Sim, Corrida deu certo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>YesIsCompleting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasRideWorked</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting2</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>YesIsCompleting2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finalizar_Caso_e_Tarefas_Chaveiro</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NowPlus5Hours</name>
        <dataType>DateTime</dataType>
        <expression>NOW () +(5/24)</expression>
    </formulas>
    <formulas>
        <name>TimeSinceTheInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - {!NewTask.Case__r.RelatedContract__r.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Task] Flow Maestro Task Key Logistics For Rent  - Ride {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Flow Maestro Task Key Logistics For Rent  - Ride</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Abrir_tarefa</name>
        <label>Abrir tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NewTask.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <stringValue>Key Logistics For Rent Ride</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstInteractionDate__c</field>
            <value>
                <elementReference>NewTask.FirstInteractionDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewTask.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>NewTask.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Atualizar local das chaves no MagicLink</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>KL_FR_UPDATE_KEY_LOCATION_MAGIC_LINK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decis_o_4</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Finalizar_Caso_e_Tarefas_Chaveiro</name>
        <label>Finalizar Caso e Tarefas Chaveiro (Won)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>NewTask.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStage</name>
            <value>
                <stringValue>ClosedWon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Finalizar_Caso_e_Tarefas_Chaveiro_Lost</name>
        <label>Finalizar Caso e Tarefas Chaveiro (Lost)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>NewTask.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStage</name>
            <value>
                <stringValue>ClosedLost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
