force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentOnboarding_Inspector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Atribuir pendente ao campo de contato iq</description>
        <name>AssignNullToIQContactField</name>
        <label>Atribuir nulo ao campo de contato iq</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedIQCase.ContactReplyIQ__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRelatedIQCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribuir pendente ao campo de contato vt</description>
        <name>AssignNullToVTContactField</name>
        <label>Atribuir nulo ao campo de contato vt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedCase.ContactReplyVT__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVTRelatedCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribuir pendente ao campo de contato iq</description>
        <name>AssignPendingToIQContactField</name>
        <label>Atribuir pendente ao campo de contato iq</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetIQRelatedCase.ContactReplyIQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateIQRelatedCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribuir pendente ao campo de contato vt</description>
        <name>AssignPendingToVTContactField</name>
        <label>Atribuir pendente ao campo de contato vt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedCase.ContactReplyVT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRelatedCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribuir valores no Caso</description>
        <name>AssignValuesToCase</name>
        <label>Atribuir valores no Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpsert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionIQRepliedParent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribuir valores no Caso</description>
        <name>Atribuir_valores_no_Caso2</name>
        <label>Atribuir valores no Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpsert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionVTRepliedParent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Abrir_Tarefa</name>
        <label>Abrir Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskToUpsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.FirstInteractionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.FirstInteractionDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.SLA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[IQ] - Contato com IQ falando que pode chamar um chaveiro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KL_FR_ON_CONTACT_IQ_ALLOW_CALL_LOCKSMITH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpsert.CaseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Logistics For Rent Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToUpsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskToUpsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_task_kl_fr_contact_with_iq_about_locksmith</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactReplyIQ_Success</name>
        <label>ContactReplyIQ = Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpsert.ContactReplyIQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactReplyVT_Success</name>
        <label>ContactReplyVT = Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpsert.ContactReplyVT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_caso2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionIQAcceptToCallTheLocksmith</name>
        <label>IQ aceitou ele mesmo chamar o chaveiro?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AbrirSubCasoChaveiro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IQAcceptToCallTheLocksmith</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateBandaidCase</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionIQRepliedParent</name>
        <label>IQ Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IQRepliedParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactReplyIQ_Success</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionVTRepliedParent</name>
        <label>VT Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>VTRepliedParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactReplyVT_Success</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting1</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TaskIQCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>YesIsCompleting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesToCase</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
        <rules>
            <name>CancelledContactIQTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedIQCase</targetReference>
            </connector>
            <label>Não, está cancelado!</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting2</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TaskVTCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>C_pia_1_de_Sim_est_concluindo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_valores_no_Caso2</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
        <rules>
            <name>CancelledContactVTTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNullToVTContactField</targetReference>
            </connector>
            <label>Não, está cancelado!</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting3</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>C_pia_2_de_Sim_est_concluindo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_pia_2_de_Abrir_Tarefa</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting4</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>C_pia_3_de_Sim_est_concluindo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionIQAcceptToCallTheLocksmith</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tarefa está sendo criada?</description>
        <name>TaskIQCreated</name>
        <label>Tarefa iq está sendo criada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IQTaskCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIQRelatedCase</targetReference>
            </connector>
            <label>Task IQ Criada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tarefa está sendo criada?</description>
        <name>TaskVTCreated</name>
        <label>Tarefa vt está sendo criada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TaskInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPendingToVTContactField</targetReference>
            </connector>
            <label>Task Criada</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatTaskType</name>
        <label>Qual o Tipo da Tarefa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>KL_FR_ON_CONTACT_IQ_CONFIRM_ADDRESS_TIME_RESPONSIBLE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_IQ_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting1</targetReference>
            </connector>
            <label>[IQ] - Contato com IQ para confirmar endereço, horário e responsável</label>
        </rules>
        <rules>
            <name>KL_FR_ON_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedCase</targetReference>
            </connector>
            <label>[VT] - Contato com VT para confirmar endereço, horário e responsável</label>
        </rules>
        <rules>
            <name>KL_FR_ON_CONTACT_PP_INFORM_LOCKSMITH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_PP_INFORM_LOCKSMITH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting3</targetReference>
            </connector>
            <label>[PP] - Contato com PP informando sobre chaveiro</label>
        </rules>
        <rules>
            <name>KL_FR_ON_CONTACT_IQ_ALLOW_CALL_LOCKSMITH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_ON_CONTACT_IQ_ALLOW_CALL_LOCKSMITH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting4</targetReference>
            </connector>
            <label>[IQ] - Contato com IQ falando que pode chamar um chaveiro</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsCompletingTask</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISPICKVAL({!NewTask.Status}, &apos;Completed&apos;), 
    NOT(ISPICKVAL({!PriorTask.Status}, &apos;Completed&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>IsInAccordanceWithThePolicy</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>NowPlus5Hours</name>
        <dataType>DateTime</dataType>
        <expression>NOW () +(5/24)</expression>
    </formulas>
    <formulas>
        <name>TimeSinceTheInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - {!NewTask.Case__r.RelatedContract__r.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Task] Flow Maestro Task Key Logistics For Rent Onboarding - Lockbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Flow Maestro Task Key Logistics For Rent Onboarding - Vistoriador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_task_kl_fr_contact_with_iq_about_locksmith</name>
        <label>Upsert De Tarefas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <inputReference>TasksToUpsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetIQRelatedCase</name>
        <label>Obter caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPendingToIQContactField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedCase</name>
        <label>Obter caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCompleting2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedIQCase</name>
        <label>Obter caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNullToIQContactField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_caso</name>
        <label>Atualizar caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CaseToUpsert</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_caso2</name>
        <label>Atualizar caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CaseToUpsert</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateIQRelatedCase</name>
        <label>Atualizar caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetIQRelatedCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedCase</name>
        <label>Atualizar caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetRelatedCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedIQCase</name>
        <label>Atualizar caso iq relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetRelatedIQCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVTRelatedCase</name>
        <label>Atualizar caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetRelatedCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatTaskType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AbrirSubCasoChaveiro</name>
        <label>Abrir SubCaso Chaveiro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Locksmith</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateBandaidCase</name>
        <label>Create Band-aid sub case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Band-Aid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CasesToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EmptyCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>EmptyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
