force-app/main/default/flows/Task_ForSale_Recommendations_for_the_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Task_Comunicar_recomenda_es_do_back</name>
        <label>Decision Task - Comunicar recomendações do back</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Comunicar_recomenda_es_do_back</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_BY_COMMUNICATE_BACKEND_RECOMMENDATIONS_CLIENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Task Finalizada Por Fluxo de Banco Escolhido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Proposal_Task</targetReference>
            </connector>
            <label>Task - Comunicar recomendações do back</label>
        </rules>
        <rules>
            <name>Create_New_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_BY_COMMUNICATE_BACKEND_RECOMMENDATIONS_CLIENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Communicate_the_back_s_recommendation_to_the_customer</targetReference>
            </connector>
            <label>Create New task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Recommendations for the Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Communicate_the_back_s_recommendation_to_the_customer</name>
        <label>Create Task Communicate the back&apos;s recommendation to the customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ForSale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Comunicar recomendações do back para o cliente. As propostas serão gerar apenas depois dessa etapa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_COMMUNICATE_BACKEND_RECOMMENDATIONS_CLIENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CCV</name>
        <label>Get CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ForSale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_Task</name>
        <label>Get Opportunity  Related Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ForSale</name>
        <label>Get Record Type ForSale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Task_Comunicar_recomenda_es_do_back</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Related_Task</targetReference>
        </connector>
        <filterLogic>2 AND 5 AND (1 OR 3) OR 4</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_GENERATE_PROPOSALS</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_PreProposalClientGuidance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_CCV_SINGED_WITH_DIFFERENT_VALUES</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_COMMUNICATE_BACKEND_RECOMMENDATIONS_CLIENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_PreProposalClientGuidance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Proposal_Task</name>
        <label>Generate Proposal Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Opportunity_ForSale_Generate_Proposal_Task</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>Get_Opportunity_Related_Task</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
