force-app/main/default/flows/Task_ForSale_Proposta_com_contestacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Monta_Solicitacao</name>
        <label>Monta Solicitação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Novo_DocumentoRecebido.AssignedTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Novo_DocumentoRecebido.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Solicitacao_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Novo_DocumentoRecebido.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caso_relacionado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Novo_DocumentoRecebido.PurchaseSaleContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contrato_de_Compra_e_Venda.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nova_Solicitacao.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_RecordType_ForSale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Documentos_para_criar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Novo_DocumentoRecebido</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Verifica_lista_documentos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepara_docs_var</name>
        <label>Prepara docs var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_documento_Loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_RPAD_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_documento_Lista</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_SUBSTITUTE_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_documento_Loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_REMOVE_semicolon_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monta_Solicitacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Extrai os valores do campo &quot;Documentos complementares necessários&quot; para ser processado nos próximos elementos.</description>
        <name>Preparar_lista_de_documentos</name>
        <label>Preparar lista de documentos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_documento_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_RequiredAdditionalDocuments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_documento_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_lista_documentos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Obtém o primeiro valor da multipicklist.</description>
        <name>Preparar_nome_do_Banco</name>
        <label>Preparar nome do Banco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_banco_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_ProposalsRequiringDispute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_Front_Task_devolutiva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Obtém o primeiro valor da multipicklist.</description>
        <name>Preparar_nome_do_banco_ajuste</name>
        <label>Preparar nome do banco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_banco_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_ProposalsRequiringDispute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_BackOffice_Task_de_ajuste</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Complementar_documentos</name>
        <label>Complementar documentos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Preparar_nome_do_banco_ajuste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_RequiredAdditionalDocuments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contrato_de_Compra_e_Venda</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contestacao_Procede</name>
        <label>Contestação Procede</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado Padrão</defaultConnectorLabel>
        <rules>
            <name>SIM_procede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Dispute_upheld__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complementar_documentos</targetReference>
            </connector>
            <label>SIM procede</label>
        </rules>
        <rules>
            <name>NAO_procede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Dispute_upheld__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparar_nome_do_Banco</targetReference>
            </connector>
            <label>NÃO procede</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pronta_para_o_cliente</name>
        <label>Pronta para o cliente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NÃO pronta</defaultConnectorLabel>
        <rules>
            <name>SIM_pronta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ProposalReadyToSendToClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparar_nome_do_Banco</targetReference>
            </connector>
            <label>SIM pronta</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica o campo Type para o caminho correto.</description>
        <name>Tipo_de_Tarefa</name>
        <label>Tipo de Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Inicio_contestacao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_GENERATE_PROPOSALS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_CCV_SINGED_WITH_DIFFERENT_VALUES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Tarefas_de_Contestacao</targetReference>
            </connector>
            <label>Início contestação</label>
        </rules>
        <rules>
            <name>Contestacao_do_resultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_DISPUTING_BANK_CREDIT_RESULT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contestacao_Procede</targetReference>
            </connector>
            <label>Contestação do resultado</label>
        </rules>
        <rules>
            <name>Ajuste_de_proposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FS_CRED_ADJUST_BANK_REQUEST_FOR_PROPOSAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pronta_para_o_cliente</targetReference>
            </connector>
            <label>Ajuste de proposta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_lista_documentos</name>
        <label>Verifica lista de documentos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cria_Documento_Pendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Final</defaultConnectorLabel>
        <rules>
            <name>Processar_docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_documento_Lista</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepara_docs_var</targetReference>
            </connector>
            <label>Processar docs</label>
        </rules>
    </decisions>
    <description>Fluxo para Propostas com contestação. As tarefas devem ser finalizadas para entrar no Flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>Fm_DatadeVencimentodaNovaTarefa</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <description>Remove o último ponto e vírgula da string.</description>
        <name>Fm_REMOVE_semicolon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!var_banco_Loop}, &quot;;&quot;, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>Fm_REMOVE_semicolon_Doc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!var_documento_Loop}, &quot;;&quot;, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <description>Retorna o próximo valor da lista de bancos.</description>
        <name>Fm_RPAD_1</name>
        <dataType>String</dataType>
        <expression>RPAD({!var_banco_Lista}, FIND(&apos;;&apos;, {!var_banco_Lista}))</expression>
    </formulas>
    <formulas>
        <name>Fm_RPAD_Doc</name>
        <dataType>String</dataType>
        <expression>RPAD({!var_documento_Lista}, FIND(&apos;;&apos;, {!var_documento_Lista}))</expression>
    </formulas>
    <formulas>
        <name>Fm_Solicitacao_name</name>
        <dataType>String</dataType>
        <expression>&quot;Contestação: &quot; &amp; {!var_documento_Loop}</expression>
    </formulas>
    <formulas>
        <description>Remove o nome do banco atual da lista.</description>
        <name>Fm_SUBSTITUTE</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_banco_Lista}, {!var_banco_Loop}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Fm_SUBSTITUTE_Doc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_documento_Lista}, {!var_documento_Loop}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Fm_Tarefa_ajuste_name</name>
        <dataType>String</dataType>
        <expression>&apos;Ajustar a solicitação de proposta do banco &apos; &amp; {!var_banco_Lista}</expression>
    </formulas>
    <formulas>
        <description>Texto para o campo &quot;Assunto&quot; da nova Tarefa de contestação.</description>
        <name>Fm_Tarefa_contestacao_name</name>
        <dataType>String</dataType>
        <expression>&quot;Contestação do resultado de crédito do banco&quot;&amp; &quot; &quot; &amp; {!var_banco_Loop}</expression>
    </formulas>
    <formulas>
        <name>Fm_Tarefa_devolutiva_name</name>
        <dataType>String</dataType>
        <expression>&apos;[BY] Realizar a devolutiva da contestação da proposta do banco &apos; &amp; {!var_banco_Lista}</expression>
    </formulas>
    <interviewLabel>Task_ForSale_Proposta_com_contestacao - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Proposta com contestação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_BackOffice_Task_de_ajuste</name>
        <label>Cria BackOffice Task de ajuste</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_ProposalsRequiringDispute__c</field>
            <value>
                <elementReference>var_banco_Lista</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Fm_Tarefa_ajuste_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_ADJUST_BANK_REQUEST_FOR_PROPOSAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cria_Documento_Pendente</name>
        <label>Cria Documento Pendente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Documentos_para_criar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Criar_Front_Task_devolutiva</name>
        <label>Criar Front Task devolutiva</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Fm_DatadeVencimentodaNovaTarefa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_SendAssessmentToService__c</field>
            <value>
                <elementReference>$Record.FS_SendAssessmentToService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Oportunidade_relacionada.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Fm_Tarefa_devolutiva_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_REGARDING_OBJECTION_TO_BANK_PROPOSAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Caso_relacionado</name>
        <label>Caso relacionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_RecordType_ForSale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurchaseSaleContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contrato_de_Compra_e_Venda.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtém o CCV - PurchaseSaleContract__c.</description>
        <name>Contrato_de_Compra_e_Venda</name>
        <label>Contrato de Compra e Venda</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_relacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_RecordType_ForSale</name>
        <label>Obter RecordType ForSale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Preparar_lista_de_documentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReceivedDocument__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ForSale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oportunidade_relacionada</name>
        <label>Oportunidade relacionada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Tarefa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidade_relacionada</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4)  AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_GENERATE_PROPOSALS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_CCV_SINGED_WITH_DIFFERENT_VALUES</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_DISPUTING_BANK_CREDIT_RESULT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_ADJUST_BANK_REQUEST_FOR_PROPOSAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProposalsRequiringDispute__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_CommentsOrRecommendationsToClient__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cria_Tarefas_de_Contestacao</name>
        <label>Cria Tarefas de Contestação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Task_ForSale_Proposta_com_contestacao_Cria_Tarefas_de_Contestacao</flowName>
        <inputAssignments>
            <name>Task_de_acionamento</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Documentos_para_criar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReceivedDocument__c</objectType>
    </variables>
    <variables>
        <name>Nova_Solicitacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pendency__c</objectType>
    </variables>
    <variables>
        <name>Nova_Tarefa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Novo_DocumentoRecebido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReceivedDocument__c</objectType>
    </variables>
    <variables>
        <name>Solicitacoes_para_criar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pendency__c</objectType>
    </variables>
    <variables>
        <name>Tarefas_para_criar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_banco_Lista</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_banco_Loop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_documento_Lista</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_documento_Loop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
