force-app/main/default/flows/Task_Necessary_Documents_and_Proposal_for_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Prepare_Doc</name>
        <label>Prepare Doc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_documento_Loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_RPAD_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_documento_Lista</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_SUBSTITUTE_Doc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_documento_Loop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_REMOVE_semicolon_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Request</name>
        <label>Prepare Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nova_ReceivedDocument.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nova_ReceivedDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_Solicitacao_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nova_ReceivedDocument.FS_RequestJustification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FS_RequestJustification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nova_ReceivedDocument.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solicitado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Solicitacoes_para_criar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nova_ReceivedDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_List_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_List_Document</name>
        <label>Set List Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_documento_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_RequiredAdditionalDocuments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_documento_Lista</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_List_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_the_required_supplementary_documents_completed</name>
        <label>Are the required supplementary documents completed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_the_client_want_to_proceed_with_the_fifth_floor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_RequiredAdditionalDocuments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_List_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_Document</name>
        <label>Check List Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processes_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_documento_Lista</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Doc</targetReference>
            </connector>
            <label>Processes Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Fields_filled_in_the_Task</name>
        <label>Decision Fields filled in the Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_fields_are_filled_in_the_Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_RequiredAdditionalDocuments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_ProposalsReadyToSendToClient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_the_required_supplementary_documents_completed</targetReference>
            </connector>
            <label>The fields are filled in the Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_client_want_to_proceed_with_the_fifth_floor</name>
        <label>Does the client want to proceed with the fifth floor?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_Task.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Realizar_contato_comercial_com_cliente_com_a_devolutiva_da_analise_de_credi</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
        <rules>
            <name>Yes_or_Undecided</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_Task.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Related_Task.FS_ProceedWithQuintoAndar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não decidiu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Realizar_a_devolutiva_da_analise_de_credito_para_o_cliente</targetReference>
            </connector>
            <label>Yes or Undecided</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Fm_REMOVE_semicolon_Doc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!var_documento_Loop}, &quot;;&quot;, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>Fm_RPAD_Doc</name>
        <dataType>String</dataType>
        <expression>RPAD({!var_documento_Lista}, FIND(&apos;;&apos;, {!var_documento_Lista}))</expression>
    </formulas>
    <formulas>
        <name>Fm_Solicitacao_name</name>
        <dataType>String</dataType>
        <expression>&quot;Coletar documento &quot; &amp; {!var_documento_Loop} &amp; &quot; para contestação &quot;</expression>
    </formulas>
    <formulas>
        <name>Fm_SUBSTITUTE_Doc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_documento_Lista}, {!var_documento_Loop}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>[Task] - Necessary Documents and Proposal for Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Necessary Documents and Proposal for Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_the_client_want_to_proceed_with_the_fifth_floor</targetReference>
        </connector>
        <inputReference>Solicitacoes_para_criar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Task_Realizar_a_devolutiva_da_analise_de_credito_para_o_cliente</name>
        <label>Task - Realizar a devolutiva da analise de credito para o cliente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ForSale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Realizar a devolutiva da análise de crédito para o cliente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_ON_CREDIT_ANALYSIS_TO_CLIENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Realizar_contato_comercial_com_cliente_com_a_devolutiva_da_analise_de_credi</name>
        <label>Task - Realizar contato comercial com cliente com a devolutiva da analise de credito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ForSale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[BY] Realizar contato comercial com cliente com a devolutiva da análise de crédito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FS_CRED_BY_MAKE_COMMERCIAL_CONTA_WITH_FEEDBACK_CREDIT_ANALYSIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Related_CCV</name>
        <label>Get Case Related CCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Fields_filled_in_the_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurchaseSaleContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CCV_related_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CCV_related_Opportunity</name>
        <label>Get CCV related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Related_CCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_Task</name>
        <label>Get Opportunity Related Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ForSale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ForSale</name>
        <label>Get Record Type ForSale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCV_related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_ForSale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Related_Task</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_GENERATE_PROPOSALS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_CCV_SINGED_WITH_DIFFERENT_VALUES</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_RequiredAdditionalDocuments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProposalsReadyToSendToClient__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_RequiredAdditionalDocuments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_ProposalsReadyToSendToClient__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>nova_ReceivedDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReceivedDocument__c</objectType>
    </variables>
    <variables>
        <name>Solicitacoes_para_criar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReceivedDocument__c</objectType>
    </variables>
    <variables>
        <name>var_documento_Lista</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_documento_Loop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
