force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRentOffboarding_Inspector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Aprovacao_Excecao</name>
        <label>Enviar Aprovação Exceção</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>AprovacaoExcecaoLideranca</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DecisionPPRepliedChild</name>
        <label>PP Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>PPRepliedChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Case__r.ContactReplyPP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionPPRepliedParent</name>
        <label>PP Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseNoContactIQToConfirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>IQRepliedParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseYesContactIQToConfirm</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionVTRepliedChild</name>
        <label>VT Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não ou Vazio</defaultConnectorLabel>
        <rules>
            <name>VTRepliedChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactReplyVT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionVTRepliedParent</name>
        <label>VT Respondeu?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseNoContactVTToConfirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>VTRepliedParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseYesContactVTToConfirm</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPPAgreedWithCallingLocksmithHimself</name>
        <label>PP Aceitou chamar o Chaveiro ele mesmo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateSubCase_Locksmith</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>YesPPWillCallLocksmith</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSubcaseBandaid</targetReference>
            </connector>
            <label>Sim, PP chamará o chaveiro</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tarefa está sendo criada</description>
        <name>IsTaskPPBeingCreated</name>
        <label>Tarefa está sendo criada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TaskPPIsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactPPFieldPending</targetReference>
            </connector>
            <label>Criada</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsWhitinPolicies</name>
        <label>Está de acordo com a política?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Enviar_Aprovacao_Excecao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não está</defaultConnectorLabel>
        <rules>
            <name>YesIsWithinPolicies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.DistanceBetweenPointsKm__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SubCase_Ride</targetReference>
            </connector>
            <label>Sim, está dentro da política</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskStatus</name>
        <label>Status da Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsTaskPPBeingCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionPPRepliedParent</targetReference>
            </connector>
            <label>Finalizada</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactPPFieldNull</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskStatus2</name>
        <label>Status da Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TaskVTBeingCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Completed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionVTRepliedParent</targetReference>
            </connector>
            <label>Finalizada</label>
        </rules>
        <rules>
            <name>Cancelled2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactVTFieldNull</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskStatus3</name>
        <label>Status da Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Completed3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompletingTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasPPAgreedWithCallingLocksmithHimself</targetReference>
            </connector>
            <label>Finalizada</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskStatus4</name>
        <label>Status da Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Completed4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseValidateKM</targetReference>
            </connector>
            <label>Finalizada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tarefa está sendo criada</description>
        <name>TaskVTBeingCreated</name>
        <label>Tarefa está sendo criada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TaskVTIsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVTCase</targetReference>
            </connector>
            <label>Tarefa está sendo criada?</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatTaskType</name>
        <label>Qual o Tipo da Tarefa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Decision_KL_FR_OF_CONTACT_PP_CONFIRM_ADDRESS_TIME_RESPONSIBLE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_OF_CONTACT_PP_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskStatus</targetReference>
            </connector>
            <label>[PP] - Contato com PP para confirmar endereço, horário e responsável</label>
        </rules>
        <rules>
            <name>Decision_KL_FR_OF_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_OF_CONTACT_VT_CONFIRM_ADDRESS_TIME_RESPONSIBLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskStatus2</targetReference>
            </connector>
            <label>[VT] - Contato com VT para confirmar endereço, horário e responsável</label>
        </rules>
        <rules>
            <name>Decision_KL_FR_OF_CONTACT_PP_REQUEST_LOCKSMITH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_OF_CONTACT_PP_REQUEST_LOCKSMITH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskStatus3</targetReference>
            </connector>
            <label>[PP] - Contato com PP para solicitação de chaveiro</label>
        </rules>
        <rules>
            <name>Decision_KL_FR_CHECK_DISTANCE_ON_GOOGLEMAPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_CHECK_DISTANCE_ON_GOOGLEMAPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskStatus4</targetReference>
            </connector>
            <label>Consultar distância no Google Maps</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ForNowPlus5h</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (5/24)</expression>
    </formulas>
    <formulas>
        <name>IsCompletingTask</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISPICKVAL({!NewTask.Status}, &apos;Completed&apos;), 
    NOT(ISPICKVAL({!PriorTask.Status}, &apos;Finalizado&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>IsInAccordanceWithThePolicy</name>
        <dataType>Boolean</dataType>
        <expression>{!NewTask.DistanceBetweenPointsKm__c} &lt;= 50</expression>
    </formulas>
    <formulas>
        <name>TimeSinceTheInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - DATEVALUE({!NewTask.Case__r.Inspection__r.ExecutedAt__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Task] Flow Maestro Task Key Logistics For Rent Onboarding - Vistoriador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Flow Maestro Task Key Logistics For Rent Offboarding - Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseValidateKM</name>
        <label>Obter Caso Validar KM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsWhitinPolicies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseNoContactIQToConfirm</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyPP__c</field>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNoContactVTToConfirm</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyVT__c</field>
            <value>
                <stringValue>failure</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseYesContactIQToConfirm</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionVTRepliedChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyPP__c</field>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseYesContactVTToConfirm</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionPPRepliedChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyVT__c</field>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactPPFieldNull</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyPP__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactPPFieldPending</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyPP__c</field>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactVTFieldNull</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyVT__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVTCase</name>
        <label>Atualizar Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTask.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactReplyVT__c</field>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatTaskType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_SubCase_Ride</name>
        <label>Criar SubCaso de Corrida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Ride</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateSubCase_Locksmith</name>
        <label>Criar Subcaso de Chaveiro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Locksmith</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateSubcaseBandaid</name>
        <label>Criar Subcaso de BandAid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Automatic_CreateKeyLogisticsSubCases</flowName>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <stringValue>Key Logistics For Rent Band-Aid	</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ParentCaseid</name>
            <value>
                <elementReference>NewTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubCaseRecordTypeDevName</name>
            <value>
                <stringValue>KeyLogisticsForRent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskActionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskActionRecordTypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskManagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
