force-app/main/default/flows/Task_ForSale_Select_List_of_Documents_and_Reason_BY_or_SL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Buyer</name>
        <choiceText>Comprador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comprador</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seller</name>
        <choiceText>Vendedor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendedor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_BY_or_SL</name>
        <label>Decision BY or SL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Chose Seller</defaultConnectorLabel>
        <rules>
            <name>Chose_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quer_Solicitar_Documentos_para_Comprador_ou_Vendedor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Seller</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Documents_and_Order_BY</targetReference>
            </connector>
            <label>Chose Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Request_Another_Document</name>
        <label>Decision Request Another Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No another document</defaultConnectorLabel>
        <rules>
            <name>Yes_another_document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_Solicitar_outro_Documento</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Documents_and_Order_BY</targetReference>
            </connector>
            <label>Yes another document</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FS_BY_Document_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FS_BY_Document_List__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>[Task/ForSale] - Choice Comprador or Seller {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Select List of Documents and Reason BY or SL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Document_list_is_BY_or_SL</name>
        <label>Document list is BY or SL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_BY_or_SL</targetReference>
        </connector>
        <fields>
            <name>Quer_Solicitar_Documentos_para_Comprador_ou_Vendedor</name>
            <choiceReferences>Buyer</choiceReferences>
            <choiceReferences>Seller</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quer Solicitar Documentos para Comprador ou Vendedor ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Documents_and_Order_BY</name>
        <label>Documents and Order BY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>Would_you_like_to_request_another_document</targetReference>
        </connector>
        <fields>
            <name>Lista_de_Documentos_Solicitados_Comprador</name>
            <choiceReferences>FS_BY_Document_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lista de Documentos Solicitados - Comprador</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Motivo_do_Pedido_Comprador</name>
            <fieldText>Motivo do Pedido - Comprador</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proxímo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Would_you_like_to_request_another_document</name>
        <label>Would you like to request another document?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>Decision_Request_Another_Document</targetReference>
        </connector>
        <fields>
            <name>Deseja_Solicitar_outro_Documento</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja Solicitar outro Documento ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Document_list_is_BY_or_SL</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
