force-app/main/default/flows/Task_ForSale_Create_Scheduling_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Next_Business_Day</name>
        <label>Calculate Next Business Day</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ForSaleBusinessDaysInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_Object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>businessDays</name>
            <value>
                <elementReference>businessDaysToAdd</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ForSaleBusinessDaysInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varDataAgendamento</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Object</name>
        <label>Which Object?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scheduling_Management_Opp</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scheduling_Management_Contract</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Task/ForSale] - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Create Scheduling Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Scheduling_Management_Contract</name>
        <label>Create Scheduling Management Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>BankName__c</field>
            <value>
                <elementReference>BankName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowType__c</field>
            <value>
                <elementReference>Get_Task_Management.Flow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurrence__c</field>
            <value>
                <elementReference>Get_Task_Action.Recurrence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SObjectDefinition__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedulingDate__c</field>
            <value>
                <elementReference>varDataAgendamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskAction__c</field>
            <value>
                <elementReference>Get_Task_Action.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskManagement__c</field>
            <value>
                <elementReference>Get_Task_Action.TaskManagement__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SchedulingManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Scheduling_Management_Opp</name>
        <label>Create Scheduling Management Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>BankName__c</field>
            <value>
                <elementReference>BankName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowType__c</field>
            <value>
                <elementReference>Get_Task_Management.Flow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurrence__c</field>
            <value>
                <elementReference>Get_Task_Action.Recurrence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SObjectDefinition__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedulingDate__c</field>
            <value>
                <elementReference>varDataAgendamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskAction__c</field>
            <value>
                <elementReference>Get_Task_Action.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskManagement__c</field>
            <value>
                <elementReference>Get_Task_Action.TaskManagement__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SchedulingManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Action</name>
        <label>Get Task Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaskManagerType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>typeTask</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TaskAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Management</name>
        <label>Get Task Management</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Next_Business_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Action.TaskManagement__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TaskManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>businessDaysToAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Constant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ok</stringValue>
        </value>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>typeTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDataAgendamento</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
