force-app/main/default/flows/Task_ForSale_Customer_Payment_Methods_Paths.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ForSaleHighTouchEventInvocable</name>
        <label>ForSaleHighTouchEventInvocable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ForSaleHighTouchEventInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bankName</name>
            <value>
                <elementReference>$Record.FS_BankChosenByClient__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventName</name>
            <value>
                <elementReference>salesforce_bank_chosen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opp</name>
            <value>
                <elementReference>Get_Opportunity_Related_Task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ForSaleHighTouchEventInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_Selected_Bank</name>
        <label>Send Custom Notification Selected Bank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Task_Related_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_New_Status_Task</name>
        <label>Set New Status Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Check_Task_Related_Opportunity.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Check_Task_Related_Opportunity.Bypass_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prepare_Bank</name>
        <label>Set Prepare Bank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Loop_Bank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_RPAD_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Loop_Bank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_SUBSTITUTE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Loop_Bank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fm_REMOVE_semicolon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MortgageIntentionUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Task.FS_mortgageIntentionUuid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_chosenProposalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prepares_list_of_banks</name>
        <label>Set Prepares list of banks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_List_Bank</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FS_ProposalsRequiringDispute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_List_Bank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Check_List_of_banks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection</name>
        <label>Set Task Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>task_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Check_Task_Related_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Check_Task_Related_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Users_who_will_receive_notification</name>
        <label>Set Users who will receive notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Task.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_Selected_Bank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Response_Decision</name>
        <label>Customer Response Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Bank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_ClientResponse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banco escolhido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prepares_list_of_banks</targetReference>
            </connector>
            <label>Selected Bank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_List_of_banks</name>
        <label>Decision Check List of banks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Extract_Banks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_List_Bank</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prepare_Bank</targetReference>
            </connector>
            <label>Extract Banks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Fm_REMOVE_semicolon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!var_Loop_Bank}, &quot;;&quot;, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <description>Retorna o próximo valor da lista de bancos.</description>
        <name>Fm_RPAD_1</name>
        <dataType>String</dataType>
        <expression>RPAD({!var_List_Bank}, FIND(&apos;;&apos;, {!var_Loop_Bank}))</expression>
    </formulas>
    <formulas>
        <name>Fm_SUBSTITUTE</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_List_Bank}, {!var_Loop_Bank}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>[Task/ForSale] - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task/ForSale] - Customer Payment Methods Paths</label>
    <loops>
        <name>Loop_Check_Task_Related_Opportunity</name>
        <label>Loop Check Task Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Task_Related_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Status_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ForSaleHighTouchEventInvocable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Users_who_will_receive_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CustomNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_Task</name>
        <label>Get Opportunity Related Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Purchase_and_Sale_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_and_Sale_Agreement</name>
        <label>Get Purchase and Sale Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Process_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseSaleContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Related_Opportunity</name>
        <label>Get Task Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Check_Task_Related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Related_Task</name>
        <label>Update Opportunity Related Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_ClientResponse__c</field>
            <value>
                <elementReference>$Record.FS_ClientResponse__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_Related_Task</targetReference>
        </connector>
        <inputReference>task_collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Process_Active</name>
        <label>Update Task Process Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Response_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Processo_Ativo__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Related_Task</targetReference>
        </connector>
        <filterLogic>(4 AND 5) AND (1 OR 2 OR 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_PROVIDE_FEEDBACK_ON_CREDIT_ANALYSIS_TO_CLIENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_BY_MAKE_COMMERCIAL_CONTA_WITH_FEEDBACK_CREDIT_ANALYSIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FS_CRED_SL_CALL_THE_SELLER_TO_EXPLAIN_THAT_THERE_WILL_BE_NO_SUPPORT</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ClientResponse__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Financiamento externo</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_ClientResponse__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aguardar outro banco</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Opportunity_Related_Task.Account.Name} escolheu qual banco seguir.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Banco Escolhido!</text>
    </textTemplates>
    <triggerOrder>940</triggerOrder>
    <variables>
        <name>Collection_Cases_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>salesforce_bank_chosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>salesforce_bank_chosen</stringValue>
        </value>
    </variables>
    <variables>
        <name>task_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_chosenProposalId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_List_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Loop_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MortgageIntentionUuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
