force-app/main/default/flows/TaskOrchestryFlowTaskKeyLogisticsForRent_BandAid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decis_o_4</name>
        <label>Qual o Tipo da Tarefa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Decision_OpenBandAidPendencyToPaymentsTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KL_FR_BAND_AID_OPEN_BAND_AID_PENDENCY_TO_PAYMENTS_TEAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCompleting2</targetReference>
            </connector>
            <label>Abrir solicitação de band-aid para time Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleting2</name>
        <label>Está Concluindo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não, não está concluindo</defaultConnectorLabel>
        <rules>
            <name>YesIsCompleting2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorTask.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finalizar_Caso_e_Tarefas</targetReference>
            </connector>
            <label>Sim, está concluindo!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NowPlus5Hours</name>
        <dataType>DateTime</dataType>
        <expression>NOW () +(5/24)</expression>
    </formulas>
    <formulas>
        <name>TimeSinceTheInspection</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime}) - {!NewTask.Case__r.RelatedContract__r.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Task] Flow Maestro Task Key Logistics For Rent  - Band-Aid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Flow Maestro Task Key Logistics For Rent  - Band-Aid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decis_o_4</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Finalizar_Caso_e_Tarefas</name>
        <label>Finalizar Caso e Tarefas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>CaseFinalizationAndCancelTasks</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>NewTask.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStage</name>
            <value>
                <stringValue>ClosedWon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <stringValue>RESOLVED</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PriorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
