force-app/main/default/flows/Tasks_MaestroKeyLogisticsForRentSubCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DecisionIsOffboardingKeyLogisticTypeLocksmithOrRide</name>
        <label>é Tipo Logística de Chaves Chaveiro ou Corrida?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsKeysLogisticLocksmith</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Locksmith</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LocksmithLogic</targetReference>
            </connector>
            <label>É Logística de Chaves Chaveiro</label>
        </rules>
        <rules>
            <name>IsKeysLogisticRide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Ride</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RideLogic</targetReference>
            </connector>
            <label>É Logística de Chaves Corrida</label>
        </rules>
        <rules>
            <name>IsKeysLogisticBandAid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyLogisticsForRent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Logistics For Rent Band-Aid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L_gica_Band_Aid</targetReference>
            </connector>
            <label>É Logística de Chaves Band-Aid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Task] Maestro Key Logistics For Rent Sub-Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Maestro Key Logistics For Rent Sub-Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionIsOffboardingKeyLogisticTypeLocksmithOrRide</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>L_gica_Band_Aid</name>
        <label>Lógica Band-Aid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>TaskOrchestryFlowTaskKeyLogisticsForRent_BandAid</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PriorTask</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LocksmithLogic</name>
        <label>Lógica Chaveiro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>TaskOrchestryFlowTaskKeyLogisticsForRent_Locksmith</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PriorTask</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RideLogic</name>
        <label>Lógica Corrida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>TaskOrchestryFlowTaskKeyLogisticsForRent_Ride</flowName>
        <inputAssignments>
            <name>NewTask</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PriorTask</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
